<div class="related_sidebar">
    <h2 class="sectiongrey">Columns</h2>
    <p><em>The opinions expressed by The Maneater columnists do not represent the opinions of The Maneater editorial board.</em></p>
    <h2 class="sectiongrey">Editorials</h2>
    <p><em>Editorials represent the majority opinion of The Maneater editorial board.</em></p>
    <h2 class="sectiongrey">Guest columns/Letters to the Editor</h2>
    <p><em>Letters to the editor must include phone numbers. Guest columns must be about 450 words and include e-mail addresses.</em></p>
    <p><em>All letters must be signed to be published.</em></p>
    <p><em>The Maneater reserves the right to edit letters and columns for style and length.</em></p>
    <p><em>Letters and columns can be e-mailed to forum@themaneater.com, faxed to 573.882.5550 or dropped off at N223 Memorial Union.</em></p>
</div>
