<!-- See http://cssglobe.com/post/3783/jquery-plugin-easy-image-or-content-slider -->
<script type="text/javascript" src="/media/style/2009-01/js/easySlider.packed.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('#{{ gallery_id }}').easySlider({
        prevText: '&laquo; Previous',
        nextText: 'Next &raquo;'
    });
});
</script>
<style>
#{{ gallery_id }} ul, #{{ gallery_id }} li {
    list-style: none;
    margin: 0;
}
#{{ gallery_id }}, #{{ gallery_id }} li {
    width: {% ifequal size "small" %}220{% else %}650{% endifequal %}px;
    overflow: hidden;
}
{% ifequal size "small" %}
#{{ gallery_id}}_wrapper {
    border: 1px solid #999;
    margin: 0 10px 10px 10px;
    float: right;
    padding: 10px;
    clear: right;
}
{% endifequal %}
</style>