{% extends "prowl-base.html" %}

{% block title %}{{ block.super }} &ndash; Server Error{% endblock title %}

{% block head_extras %}
<link rel="stylesheet" type="text/css" href="/media/style/2009-12/style/housing-guide.css" />
{% endblock head_extras %}
{% block content_wide %}
<div id="landlord_info">
<h1>Ouch! &mdash; Server Error</h1>
<p>Something broke while trying to access this page.  Don't worry, our online team has been e-mailed about the problem.</p>
<p>In the meantime:</p>
<ul><li>You can <a href="/">go to the home page</a></li><li>Or try <a href="/">searching for the material you were looking for</a></li></ul>
</div>
{% endblock content_wide %}
{% endblock content %}