{% load core %}{% load markup %} {% load thumbnail %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>Columbia Prowl &ndash; {{ dorm.name }}</title>
        <meta name="description" content="{{ dorm.name }} - Columbia, MO" /> 
<meta name="keywords" content="columbia mo dorms, columbia mo housing, columbia mo, columbia prowl, themaneater, mizzou dorms, university of missouri dorms, {{dorm.name }} columbia mo" /> 
        <link rel="stylesheet" type="text/css" href="http://www.columbiaprowl.com/media/style/2009-01/style/960/reset.css" />
        <link rel="stylesheet" type="text/css" href="http://www.columbiaprowl.com/media/style/2009-01/style/960/960.css" />
        <link rel="stylesheet" type="text/css" href="http://www.columbiaprowl.com/media/style/2011-02/style/housing-guide-base.css" />
        <link rel="shortcut icon" href="/media/favicon-prowl.png" type="image/png" />
        <link rel="apple-touch-icon-precomposed" href="/media/apple-touch-icon-prowl.png" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
        <script type="text/javascript" src="/media/style/2009-01/js/jquery.innerfade.js"></script>
        <link rel="alternate" type="application/rss+xml" title="Latest Articles RSS Feed" href="/feeds/latest/" />
        
<link rel="stylesheet" type="text/css" href="http://www.columbiaprowl.com/media/style/2011-02/style/housing-guide.css" /> 
<script type="text/javascript">
// themaneater.com ticker fade. this will be on every page of the site, so there's no harm in adding it here.
$(document).ready(
    function(){
        $('#ticker').innerfade({
            animationtype: 'fade',
            speed: 'slow',
            timeout: 4000,
            type: 'random'
        });
    }
);

</script>
<style type="text/css">
.grid_8 li {
	display:block;
}

</style>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-8727143-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    </head>
    <body>
        <div id="bar-gutter">
            <div class="inner container_12">
            </div>
        </div>
       	<div id="bar-logo">
       	    <div class="inner container_12">
                <a href="/">
                <div id="logo_image" class="grid_5 alpha">
       	       	</div>
                </a>
       	       	<div id="tagline" class="grid_4">
       	       	</div> 
       	       	<a href="http://www.themaneater.com/">
                <div id="search" class="grid_3">
                    
                </div> 
                </a>
       	    </div>
       	</div>
       	<div id="bar-nav">
       	    <div class="inner container_12">
       	       	<div id="nav" class="grid_8 alpha">
       	       	    <ul>
                        <li><a href="http://www.columbiaprowl.com/">Home</a></li>
                        <li><a href="http://www.columbiaprowl.com/guide/">Renter's Guide</a></li>
                        <li><a href="http://www.themaneater.com/about/advertising/">Advertise</a></li>
                        <li><a href="http://www.themaneater.com/about/">About</a></li>
                    </ul>
       	       	</div>
       	       	<div id="nav_extra" class="grid_4">
       	       	</div>
       	    </div>
       	</div>
        <div id="wrapper">
            <div class="inner container_12">
                
<div id="apt-info" class="grid_9 alpha">
<div id="infocontainer">
<div id="apt-title" class="grid-12">
<h1 class="apt-name">{{ dorm.name }}</h1>
</div>
<p class="address"><em>{{ dorm.contact_info }}</em></p>

<div class="photo_holder" style="text-align:center;">
{% if dorm.photos.all %}{% for photo in dorm.photos.all %}<img src="{% thumbnail photo.image 450x450 %}" style="background-color:#e3eff7;margin:10px; border-left: 5px solid #e3eff7; border-top: 5px solid #e3eff7; border-right: 5px solid #e3eff7; border-bottom: 5px solid #e3eff7;"><br/>
{{ photo.title }}{% endfor %}{% endif %}
</div>

<p>{{ dorm.review|markdown }}</p>


</div>
</div>
<div class="grid_3 omega" style="float: left; margin-right: 0px;"> 
<h2 style="font-size:24px; border-bottom:2px solid #000; margin-top:11px; margin-bottom:20px;">An Overview</h1>
<div style="background-color:#e3eff7; color:#000;">
<p><span class="llname" style="font-weight:bold;">Price</span></p></div>
<p style="font-size:14px;">{{ dorm.max_price }} - {{ dorm.min_price }}</p><br/>
<div style="background-color:#e3eff7; color:#000;">
<p><span class="llname" style="font-weight:bold;">Distance</span><br/><small style="font-size:10px;">(from Student Center)</small></p>
</div
<p style="font-size:14px;">{{ dorm.distance }}</p><br/>
<div style="background-color:#e3eff7; color:#000;">
<p><span class="llname" style="font-weight:bold;">Available To</span><br/></p></div>
<p style="font-size:14px;">{{ dorm.available_to }}. {{ dorm.avilable_to_info }}</p><br/>
<div style="background-color:#e3eff7; color:#000;">
<p><span class="llname" style="font-weight:bold;">Laundry</span><br/></p></div>
<p style="font-size:14px;">{{ dorm.laundry}}</p><br/>
<div style="background-color:#e3eff7; color:#000;">
<p><span class="llname" style="font-weight:bold;">Internet</span><br/></p></div>
<p style="font-size:14px;">{{ dorm.internet}}</p><br/>
<div style="background-color:#e3eff7; color:#000;">
<p><span class="llname" style="font-weight:bold;">Shuttle</span><br/></p></div>
<p style="font-size:14px;">{{ dorm.shuttle }}</p><br/>
<div style="background-color:#e3eff7; color:#000;">
<p><span class="llname" style="font-weight:bold;">Our Rating</span></p></div>
<p>Location: <div class="rating"><div class="stars" style="width: {{location}}px">&nbsp;</div></div></p> 
<p>Room: <div class="rating"><div class="stars" style="width: {{room}}px">&nbsp;</div></div></p>  
<p>Dining Options: <div class="rating"><div class="stars" style="width: {{dining}}px">&nbsp;</div></div></p>
<p>Lounges: <div class="rating"><div class="stars" style="width: {{lounges}}px">&nbsp;</div></div></p>
<p>Community: <div class="rating"><div class="stars" style="width: {{community}}px">&nbsp;</div></div></p> 
<p>Overall: <div class="rating"><div class="stars" style="width: {{overall}}px">&nbsp;</div></div></p>
</div>
</div>
                <div id="clear" style="clear:both;"></div>
            </div>
        </div>
        <div id="bar-prowlfooter">
            <div class="inner container_12">
                <a href="/"><div id="prowllogo" class="grid_5"></div></a>
                <div id="prowlfooter" class="grid_7">
                    <ul>
                        <li class="first">&copy;2011 The Maneater Student Newspaper</li>
                        <li><a href="/advertise/">Advertising Information</a></li>
                        <li><a href="/about/">About</a></li>
                        <li><a href="http://www.themaneater.com/staff/editors/">Staff</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>