{% extends "prowl-base.html" %}
{% load thumbnail %}{% load markup %}
{% block head_extras %}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" ></script> 
<link rel="stylesheet" type="text/css" href="/media/style/2009-12/style/housing-guide.css" />
<link rel="stylesheet" type="text/css" href="/media/style/2010-01/style/renters-guide.css" />
<link rel="stylesheet" type="text/css" href="/media/style/2010-01/js/PROWLslider.css" />
<script type="text/javascript">
$(document).ready(function(){  
   $("#featured").tabs({fx:{opacity: "toggle"}}).tabs("rotate", 5000, true);  
   $("#featured").hover(  
      function() {  
         $("#featured").tabs("rotate",0,true);  
      },  
      function() {  
         $("#featured").tabs("rotate",5000,true);  
      }  
   );  
});
</script>  
{% endblock head_extras %}

{% block content_wide %}
<div id="front-page-main" class="grid_8 alpha">
<div id="apt-info" class="top-feature grid_8 alpha" style="height: 254px;">
{% comment %}Content slider will be here.{% endcomment %}
<div id="featured" >
    <ul class="ui-tabs-nav">
    {% for story in top_stories %}
        <li class="ui-tabs-nav-item{% cycle ' ui-tabs-selected' '' '' '' %}" id="nav-fragment-{{ forloop.counter }}"{% if forloop.last %} style="border-bottom: 0px none;"{% endif %}><a href="#fragment-{{ forloop.counter }}"><img src="{% if story.teaser_photo %}{% thumbnail story.teaser_photo 80x40 crop %}{% else %}{% if story.photos.all.0.image %}{% thumbnail story.photos.all.0.image 80x40 crop %}{% else %}/media/style/2010-01/images/prowl/placeholder-small.png{% endif %}{% endif %}" alt="" /><span>{{ story.title }}</span></a></li>
    {% endfor %}
    </ul>
    {% for story in top_stories %}
    <div id="fragment-{{ forloop.counter }}" class="ui-tabs-panel" style="">
        <img src="{% if story.teaser_photo %}{% thumbnail story.teaser_photo 400x200 crop %}{% else %}{% if story.photos.all.0.image %}{% thumbnail story.photos.all.0.image 400x200 crop %}{% else %}/media/style/2010-01/images/prowl/placeholder-med.png{% endif %}{% endif %}" alt="" />
        <div class="info" >
            <h2><a href="{{ story.get_absolute_url }}" >{{ story.title|markdown }}</a></h2>
            <p>{{ story.cdeck }} <a href="{{ story.get_absolute_url }}">(Read more...)</a></p>
        </div>
    </div>
    {% endfor %}
{% comment %}
    <!-- Second Content -->
    <div id="fragment-2" class="ui-tabs-panel ui-tabs-hide" style="">
        <img src="images/image2.jpg" alt="" />
        <div class="info" >
            <h2><a href="#" >20 Beautiful Long Exposure Photographs</a></h2>
            <p>Vestibulum leo quam, accumsan nec porttitor a, euismod ac tortor. Sed ipsum lorem, sagittis non egestas id, suscipit....<a href="#" >read more</a></p>
        </div>
    </div>
    <!-- Third Content -->
    <div id="fragment-3" class="ui-tabs-panel ui-tabs-hide" style="">
        <img src="images/image3.jpg" alt="" />
        <div class="info" >
            <h2><a href="#" >35 Amazing Logo Designs</a></h2>
            <p>liquam erat volutpat. Proin id volutpat nisi. Nulla facilisi. Curabitur facilisis sollicitudin ornare....<a href="#" >read more</a></p>
        </div>
    </div>
    <!-- Fourth Content -->
    <div id="fragment-4" class="ui-tabs-panel ui-tabs-hide" style="">
        <img src="images/image4.jpg" alt="" />
        <div class="info" >
            <h2><a href="#" >Create a Vintage Photograph in Photoshop</a></h2>
            <p>Quisque sed orci ut lacus viverra interdum ornare sed est. Donec porta, erat eu pretium luctus, leo augue sodales....<a href="#" >read more</a></p>
        </div>
    </div>
    {% endcomment %}
</div>
{% comment %}<h1>On Your Own:</h1><h3>Columbia Prowl is your guide to finding a new place and living there. For more on properties and 
available places in Columbia, click to start your search below. For directions on moving and living off-campus, check out our Renter's 
Guide.</h3>
{% for story in top_stories %}
{% if forloop.first %}
<img src="{% if story.teaser_photo %}{% thumbnail story.teaser_photo 400x200 crop %}{% else %}{% if story.photos.all.0.image %}{% thumbnail 
story.photos.all.0.image 400x200 crop %}{% else %}/media/style/2010-01/images/prowl/articlephotoplaceholder.png{% endif %}{% endif %}" />
<h1><a href="{{ story.get_absolute_url }}">{{ story.title|markdown }}</a></h1>
<p class="cdeck">{% if story.blurb %}{{ story.blurb|markdown }}{% else %}{% if story.cdeck %}{{ story.cdeck|markdown }}{% else %}{{ story.body|markdown|truncatewords_html:"40" }}{% endif %}{% endif %}</p>
{% endif %}
{% endfor %}
{% endcomment %}
</div>
<div id="apt-info" class="grid_8 alpha compare">
<h2 class="front-page-header">Find your place <span class="header-caption">(Select from the options below to find your perfect place.)</span></h2>
<form method="get" action="/properties/">
<div class="fp_form_item left_form_item">
<h3>Rent (per person):</h3>
<ul id="fp_form_box">
    <li class="form-item">Minimum: $<input type="text" name="rentmin" size="5" maxlength="5" /></li>
    <li class="form-item">Maximum: $<input type="text" name="rentmax" size="5" maxlength="5" /></li>
</ul>
</div>
<div class="fp_form_item center_form_item">
<h3>Number of bedrooms:</h3>
<ul id="fp_form_box">
    <li class="form-item">Minimum: <input type="text" name="bedsmin" size="2" maxlength="2" /></li>
    <li class="form-item">Maximum: <input type="text" name="bedsmax" size="2" maxlength="2" /></li>
</ul>
</div>
<div class="fp_form_item right_form_item">
<h3>Number of bathrooms:</h3>
<ul id="fp_form_box">
    <li class="form-item">Minimum: <input type="text" name="bathsmin" size="2" maxlength="2" /></li>
    <li class="form-item">Maximum: <input type="text" name="bathsmax" size="2" maxlength="2" /></li>
</ul>
</div>
<div class="fp_form_item left_form_item">
<h3>Property type</h3>
<ul id="fp_form_box">
	{% for choice in property_type %}
		<li class="form-item"><input type="radio" name="propertytype" value="{{ choice.0 }}" />{{ choice.1|lower|capfirst }}</li>
	{% endfor %}
</ul>
</div>
<div class="fp_form_item center_form_item">
<h3>Size</h3>
<ul id="fp_form_box">
        <li class="form-item">Minimum: <input type="text" name="sqftmin" size="5" maxlength="5" /> square feet</li>
        <li class="form-item">Maximum: <input type="text" name="sqftmax" size="5" maxlength="5" /> square feet</li>
</ul>
</div>
<div class="fp_form_item right_form_item">
<h3>Furnishings</h3>
<ul id="fp_form_box">
	{% for choice in furnished %}
		<li class="form-item"><input type="radio" name="furnished" value="{{ choice.0 }}"/>{{ choice.1|lower|capfirst }}</li>
	{% endfor %}
</ul>
</div>
<div style="clear: both;"></div>
<input id="aptsearchsubmit" type="submit" value="Start looking" />
</form>
</div>
</div>
<div id="featured_listings" class="grid_4 omega">
<div class="fp_featured_listing_header">Featured Listings</div>
<ul>
{% for listing in premium_listings %}
    <li><div class="fp_featured_listing"><h3><a href="{{ listing.get_absolute_url }}">{{ listing }}</a></h3><div class="contents"><img src="{% if property.photos.all.0.image %}{% thumbnail property.photos.all.0.image 138x138 %}{% else %}/media/style/2010-01/images/prowl/nophotos138.png{% endif %}" />{% if listing.property_description %}{{ listing.property_description|markdown|truncatewords:10 }}{% else %}<p>${{ listing.rent_minimum }}{% if listing.rent_maximum %} &ndash; ${{ listing.rent_maximum }}{% endif %}</p><p>{{ listing.number_of_bedrooms }} bedrooms</p><p>{{ listing.number_of_bathrooms }} bathrooms</p>{% if listing.squarefootage %}<p>{{ listing.squarefootage }} sq. ft.</p>{% endif %}{% endif %}</div><div style="clear: both;"></div></div></li>
{% endfor %}
</ul>
</div>
{% endblock content_wide %}