<html>
    <head>
        <title>{% block title %}Columbia Prowl{% endblock title %}</title>
        <link rel="stylesheet" type="text/css" href="/media/style/2009-01/style/960/reset.css" />
        <link rel="stylesheet" type="text/css" href="/media/style/2009-01/style/960/960.css" />
        <link rel="stylesheet" type="text/css" href="/media/style/2009-12/style/housing-guide-base.css" />
        <link rel="shortcut icon" href="/media/favicon-prowl.png" type="image/png" />
        <link rel="apple-touch-icon-precomposed" href="/media/apple-touch-icon-prowl.png" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
        <script type="text/javascript" src="/media/style/2009-01/js/jquery.innerfade.js"></script>
        <link rel="alternate" type="application/rss+xml" title="Latest Articles RSS Feed" href="/feeds/latest/" />
        {% block head_extras %}
        {% endblock head_extras %}
    </head>
    {% block body_tag %}<body>{% endblock body_tag %}
        <div id="bar-gutter">
            <div class="inner container_12">
            </div>
        </div>
       	<div id="bar-logo">
       	    <div class="inner container_12">
                <a href="/">
                <div id="logo_image" class="grid_5 alpha">
       	       	</div>
                </a>
       	       	<div id="tagline" class="grid_4">
       	       	</div>
       	       	<a href="http://www.themaneater.com/">
                </a>
       	    </div>
       	</div>
       	<div id="bar-nav">
       	    <div class="inner container_12">
       	       	<div id="nav" class="grid_8 alpha">
       	       	    <ul>
                        <li><a href="http://www.columbiaprowl.com/">Home</a></li>
                        <li><a href="http://www.columbiaprowl.com/properties/">Properties</a></li>
                        <li><a href="http://www.columbiaprowl.com/listings/">Available Places</a></li>
                        <li><a href="http://www.columbiaprowl.com/renters-guide/">Renter's Guide</a></li>
                        <li><a href="http://www.columbiaprowl.com/advertise/">Advertise</a></li>
                        <li><a href="http://www.columbiaprowl.com/about/">About</a></li>
                    </ul>
       	       	</div>
       	       	<div id="nav_extra" class="grid_4">
       	       	</div>
       	    </div>
       	</div>
        <div id="wrapper">
            <div class="inner container_{% block container_width %}12{% endblock container_width %}">
                {% block content_wide %}
                    <h1>Placeholder</h1>
                    <p>This should be overridden by the child templates.</p>
                {% endblock content_wide %}
                <div id="clear" style="clear:both;"></div>
            </div>
        </div>
        <div id="bar-prowlfooter">
            <div class="inner container_12">
                <a href="/"><div id="prowllogo" class="grid_5"></div></a>
                <div id="prowlfooter" class="grid_7">
                    <ul>
                        <li class="first">&copy;{% now "Y" %} The Maneater Student Newspaper</li>
                        <li><a href="/advertise/">Advertising Information</a></li>
                        <li><a href="/about/">About</a></li>
                        <li><a href="http://www.themaneater.com/staff/editors/">Staff</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% block analytics %}
<script type="text/javascript">var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));</script>
<script type="text/javascript">try {var pageTracker = _gat._getTracker("UA-8727143-3");pageTracker._trackPageview();} catch(err) {}</script>
        {% endblock %}
    </body>
</html>
