{% extends "prowl-base.html" %}
{% load markup %}{% load mapping %}{% load thumbnail %}
{% block title %}{{ block.super }} &mdash; Renter's Guide {% endblock title %}
{% block head_extras %}
<link rel="stylesheet" type="text/css" href="/media/style/2009-12/style/housing-guide.css" />
<link rel="stylesheet" type="text/css" href="/media/style/2010-01/style/renters-guide.css" />
{% add_gmap_api %}
<script type="text/javascript" src="/media/style/2009-01/js/mapstraction.js"></script>
{% for map in maps %}
{% if forloop.first %}
<script type="text/javascript">
$(function() {
    // First create a div to host the map
    var themap = $('<div id="map_box"></div>').css({
        'width': '368px',
        'height': '235px',
        'border': '1px solid #000'
    }).insertBefore('ul#place_list');

    // Now initialize the map
    var mapstraction = new Mapstraction('map_box', 'google');
    mapstraction.addControls({
        zoom: 'large',
        map_type: true
    });

    bounds = new BoundingBox({{ extents.min_lat }}, {{ extents.min_lng }}, {{ extents.max_lat }}, {{ extents.max_lng }});

    // Set center and zoom
    mapstraction.setBounds(bounds);

    // Extract the coordinates and add a marker
    $('.vcard').each(function() {
        var hcard = $(this);
        var latitude = hcard.find('.geo .latitude').text();
        var longitude = hcard.find('.geo .longitude').text();
        var marker = new Marker(new LatLonPoint(latitude, longitude));
        marker.setInfoBubble(
            '<div class="bubble">' + hcard.html() + '</div>'
        );
        // marker.setIcon('url');
        mapstraction.addMarker(marker);
    });
});
</script>
{% endif %}
{% endfor %}
<style>
#place_list {
    display: none;
}
</style>
{% endblock head_extras %}
{% block content_wide %}
<div id="renters-guide-home" class="grid_12">
<div id="apt-info" class="top-feature grid_8 alpha">
{% comment %}<h2 class="renters-guide-header"><a href="/renters-guide/section/features/">Top story</a></h2>{% endcomment %}
<div id="apt-info-inner">
<a href="{{ top_feature.get_absolute_url }}"><img src="{% if top_feature.teaser_photo %}{% thumbnail top_feature.teaser_photo 606x300 crop %}{% else %}{% if top_feature.photos.all.0.image %}{% thumbnail top_feature.photos.all.0.image 606x300 crop %}{% else %}/media/style/2010-01/images/prowl/articlephotoplaceholder.png{% endif %}{% endif %}" /></a>
{% if not top_feature.teaser_photo %}<h1><a href="{{ top_feature.get_absolute_url }}">{{ top_feature.title|markdown }}</a></h1>{% endif %}
<p class="cdeck">{% if top_feature.blurb %}{{ top_feature.blurb|markdown }}{% else %}{% if top_feature.cdeck %}{{ top_feature.cdeck|markdown }}{% else %}{{ top_feature.body|markdown|truncatewords_html:"40" }}{% endif %}{% endif %}</p>
<p class="fp_section_refer"><a href="/renters-guide/section/featured-content/">More stories...</a></p>
</div>
</div>
<div class="grid_4 omega">
<div id="apt-info" class="latest-multimedia">
<h2 class="renters-guide-header"><a href="http://www.themaneater.com/tags/columbia-prowl-housing-news/">Multimedia</a></h2>
<div id="apt-info-inner">
<h3><a href="http://www.columbiaprowl.com/renters-guide/videos/2010/2/12/43/">How to select produce</a></h3>
<p>HyVee Store Dietitian Paula Vandelicht instructs the proper way to pick out produce common to the college student diet.</p>
<p class="fp_section_refer"><a href="http://www.themaneater.com/tags/columbia-prowl-housing-news/">More multimedia...</a></p>
</div>
</div>
<div id="apt-info" class="housing-news">
<h2 class="renters-guide-header"><a href="http://www.themaneater.com/tags/columbia-prowl-housing-news/">Latest Housing News</a> <span class="header-caption">(from <a href="http://www.themaneater.com">The Maneater</a>)</span></h2>
<div id="apt-info-inner">
<ul>
{% for story in top_news|slice:":3" %}
<li><h3><a href="{{ story.get_absolute_url }}">{{ story.title|markdown }}</a></h3></li>
{% comment %}<p class="cdeck">{{ story.cdeck|markdown }}</p>{% endcomment %}
{% endfor %}
</ul>
<p class="fp_section_refer"><a href="http://www.themaneater.com/tags/columbia-prowl-housing-news/">More housing news...</a></p>
</div>
</div>
</div>
</div>
<div id="renters-guide-home" class="grid_12">
<div id="apt-info" class="grid_4 alpha bluebox">
<h2 class="renters-guide-header"><a href="/renters-guide/cookbook/">Campus Cookbook</a></h2>
<div id="apt-info-inner">
<p>Check out the latest recipes by students, for students on our campus cookbook.</p>
<ul>
{% for recipe in top_recipes %}
    <li><h3><a href="{{ recipe.get_absolute_url }}">{{ recipe.name }}</a></h3>
    <p class="cdeck">Submitted by {{ recipe.source.name }}{% if recipe.source.class_standing %}, {{ recipe.source.class_standing.name }}{% else %}{% if recipe.source.additional_title %}, {{ recipe.source.additional_title }}{% endif %}{% endif %}</p></li>
{% empty %}
    <li>There are no recipes to display here.</li>
{% endfor %}
</ul>
<p class="fp_section_refer"><a href="/renters-guide/cookbook/submit/">Submit a recipe</a> | <a href="/renters-guide/cookbook/">More recipes...</a></p>
</div>
</div>
<div id="apt-info" class="grid_3">
<h2 class="renters-guide-header"><a href="/renters-guide/section/lists/">Useful lists</a></h2>
<div id="apt-info-inner">
{% for list in top_lists %}
{% if forloop.first %}
    <h3><a href="{{ list.get_absolute_url }}">{{ list.title }}</a></h3>
    {% if list.blurb %}{{ list.blurb|markdown }}{% else %}{% if list.cdeck %}{{ list.cdeck|markdown }}{% else %}{{ list.body|truncatewords:10|markdown }}{% endif %}{% endif %}
{% endif %}
{% endfor %}
    <p class="fp_section_refer"><a href="/renters-guide/section/lists/">More lists...</a></p>
</div>
</div>
<div id="apt-info" class="grid_5 omega compare">
<h2 class="renters-guide-header"><a href="/renters-guide/maps/">Maps</a></h2>
<div id="apt-info-inner">
{% for map in maps %}
{% if forloop.first %}
<h3><a href="{{ map.get_prowl_url }}">{{ map }}</a></h3>
<p id="description">{{ map.description }}</p>
<ul id="place_list">
    {% for mpl in mpl_list %}
    <li class="vcard">
        <h3 class="fn org">{% if mpl.web_site %}<a href="{{ mpl.web_site }}">{% endif %}{{ mpl.place.name }}{% if mpl.web_site %}</a>{% endif %}</h3>
        {% if mpl.place.address %}<p class="adr post-office-box">{{ mpl.place.address }}</p>{% endif %}
        {% if mpl.additional_info %}<div class="note">{{ mpl.additional_info|markdown }}</div>{% endif %}
        <p class="geo">Coordinates: <span class="latitude">{{ mpl.place.point.get_y }}</span>, <span class="longitude">{{ mpl.place.point.get_x }}</span></p>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endfor %}
<p class="fp_section_refer"><a href="/renters-guide/maps/">More maps...</a></p>
</div>
</div>
</div>
<div id="renters-guide-home" class="grid_12">
<div id="apt-info" class="contact-list grid_12 alpha omega compare">
<h2 class="renters-guide-header"><a href="{{ contacts.get_absolute_url }}">Important numbers</a></h2>
<div id="apt-info-inner">
<ul>
{% for category in contacts.included_categories.all %}
{% if forloop.first %}
    <li><h3><a href="{{ contacts.get_absolute_url }}">{{ category.name }}</a></h3></li>
    <ul>
    {% for contact in category.contact_set.all %}
        <li class="contact"><p class="{% cycle 'first' 'second' 'third' %}">{{ contact.name }}{% if contact.phone_number %}: {{ contact.phone_number }}{% else %}{% if contact.url %}: {{ contact.url }}{% endif %}{% endif %}</p></li>
    {% endfor %}
    </ul>
{% endif %}
{% endfor %}
</ul>
<div style="clear: both;"></div>
<p class="fp_section_refer"><a href="{{ contacts.get_absolute_url }}">More numbers...</a></p>
</div>
</div>
</div>
{% endblock content_wide %}