{% extends "base.html" %}

{% block title %}{{ block.super }} &ndash; Staff &ndash; {% ifequal mode "active" %}Active staff{% endifequal %}{% ifequal mode "all" %}All staff{% endifequal %}{% ifequal mode "editors" %}Editorial board{% endifequal %}{% endblock title %}

{% block content %}
<h1>{% ifequal mode "active" %}Active staff{% endifequal %}{% ifequal mode "all" %}All staff{% endifequal %}{% ifequal mode "editors" %}Editorial board{% endifequal %}</h1>
{% if staff_page.object_list %}
<ul>
    {% for staffer in staff_page.object_list %}
    <li><a href="{{ staffer.get_absolute_url }}">{{ staffer }}</a>{% if staffer.editor_title %}, {{ staffer.editor_title }}{% endif %}</li>
    {% endfor %}
</ul>
{% endif %}
{% if flatpage.content %}
<h2>Business staff</h2>
{{ flatpage.content }}
{% endif %}
{% ifequal mode "editors" %}<p>See all <a href="/staff/">active staff members</a>?</p>{% endifequal %}
<div class="page_navigation">
    {% if staff_page.has_previous %}<a href="/staff/{{ mode }}/{{ staff_page.previous_page_number }}/">&laquo; Previous</a> |{% endif %} Page {{ staff_page.number }} of {{ staff_page.paginator.num_pages }} {% if staff_page.has_next %}| <a href="/staff/{{ mode }}/{{ staff_page.next_page_number }}/">Next &raquo;</a>{% endif %}
</div>
{% endblock content %}