{% extends "base.html" %}
{% load markup %}{% load core %}

{% block title %}{{ block.super }} &ndash; {% if image.title %}{{ image.title }}{% else %}{% ifequal image.mediatype 'editorialcartoon' %}Editorial cartoon{% else %}{{ image.mediatype|capfirst }}{% endifequal %} from {{ image.pub_date|date:"N j, Y" }}{% endif %}{% endblock title %}

{% block content %}
<h1>{% if image.title %}{{ image.title }}{% else %}{% ifequal image.mediatype 'editorialcartoon' %}Editorial cartoon{% else %}{{ image.mediatype|capfirst }}{% endifequal %} from {{ image.pub_date|date:"N j, Y" }}{% endif %}</h1>
<p class="byline">{% if image.byline %}{% ifequal image.mediatype 'editorialcartoon' %}Illustration by <a href="{{ image.byline.get_absolute_url }}">{{ image.byline }}</a>{% else %}{% if image.illustration %}Photo illustration by {% else %}By {% endif %}{% ifnotequal image.mediatype "layout" %}<a href="{{ image.byline.get_absolute_url }}">{{ image.byline }}</a>/{% ifequal image.mediatype "photo" %}{{ image.byline.photographer_position }}{% else %}Graphic Designer{% endifequal %}{% else %}{% render_byline image.byline %}{% endifnotequal %}{% endifequal %}{% else %}{% if image.static_byline %}{% ifequal image.mediatype 'editorialcartoon' %}Illustration by {% else %}{% if image.illustration %}Photo illustration by {% else %}By {% endif %}{% endifequal %}{{ image.static_byline }}{% endif %}{% endif %}</p>
<div class="wide_photo_container">
    <img class="photo" src="{% ifnotequal image.mediatype "layout" %}{{ image.image.url }}{% else %}{{ image.get_thumbnail500_url }}{% endifnotequal %}" alt="{% if image.title %}{{ image.title }}{% else %}{{ image.mediatype|capfirst }} from {{ image.pub_date|date:"N j, Y" }}{% endif %}" />
    {% if image.cutline %}<p class="cutline">{{ image.cutline|markdown }}</p>{% endif %}
</div>
<div class="object_list">
{% ifequal image.mediatype "layout" %}
    <h2 class="header">Contents</h2>
    {% if image.articles.all %}
    <div class="item">
        <h3>Articles</h3>
        <ul>
            {% for article in image.articles.all %}
            <li><a href="{{ article.get_absolute_url }}">{{ article }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if image.photos.all %}
    <div class="item">
        <h3>Photos</h3>
        <ul>
            {% for photo in image.photos.all %}
            <li><a href="{{ photo.get_absolute_url }}"><img class="photo" src="{{ photo.get_thumbnail100_url }}" alt="Photo from {{ photo.pub_date|date:"N j, Y" }}" /></a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if image.photos.all %}
    <div class="item">
        <h3>Graphics</h3>
        <ul>
            {% for graphic in image.graphics.all %}
            <li><a href="{{ graphic.get_absolute_url }}"><img class="photo" src="{{ graphic.get_thumbnail100_url }}" alt="graphic from {{ graphic.pub_date|date:"N j, Y" }}" /></a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% else %}
    <h2 class="header">Related media</h2>
    {% if image.article_set.all %}
    <div class="item">
        <h3>Articles</h3>
        <ul>
            {% for article in image.article_set.all %}
            <li><a href="{{ article.get_absolute_url }}">{{ article }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if image.entry_set.all %}
    <div class="item">
        <h3>Blog posts</h3>
        <ul>
            {% for entry in image.entry_set.all %}
            <li><a href="{{ entry.get_absolute_url }}">{{ entry }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endifequal %}
</div>
{% endblock content %}
