{% extends "base.html" %}
{% load markup %}

{% block title %}{{ block.super }} &ndash; Search{% if query %} &ndash; {{ query }}{% endif %}{% endblock title %}

{% block content %}
<h1>Search{% if raw_query %}: {{ raw_query }}{% endif %}</h1>
<form method="GET" action="">
    <input name="query" type="text"{% if query %} value="{{ raw_query }}"{% endif %} />
    <ul id="searchtype_select">
        <li><input id="searchtype_0" name="searchtype" value="content" type="radio" {% if not searchtype %}checked="checked"{% else %}{% ifequal searchtype "content" %}checked="checked"{% endifequal %}{% endif %} /><label for="searchtype_0">Standard (articles, blogs, staff members)</label></li>
        <li><input id="searchtype_1" name="searchtype" value="articles" type="radio" {% ifequal searchtype "articles" %}checked="checked"{% endifequal %} /><label for="searchtype_1">Articles</label></li>
        <li><input id="searchtype_2" name="searchtype" value="staff" type="radio"{% ifequal searchtype "staff" %}checked="checked"{% endifequal %} /><label for="searchtype_2">Staff members</label></li>
        <li><input id="searchtype_3" name="searchtype" value="photos" type="radio"{% ifequal searchtype "photos" %}checked="checked"{% endifequal %} /><label for="searchtype_3">Photos</label></li>
        <li><input id="searchtype_4" name="searchtype" value="blogs" type="radio"{% ifequal searchtype "blogs" %}checked="checked"{% endifequal %} /><label 
for="searchtype_4">Blog posts</label></li>
        <li><input id="searchtype_5" name="searchtype" value="multimedia" type="radio"{% ifequal searchtype "multimedia" %}checked="checked"{% endifequal %} /><label for="searchtype_5">Multimedia (videos, slideshows)</label></li>
        {% comment %}<li><input id="searchtype_6" name="searchtype" value="campusguide" type="radio"{% ifequal searchtype "campusguide" %}checked="checked"{% endifequal %} /><label for="searchtype_6">Campus guide (maps, contacts)</label></li>{% endcomment %}
    </ul>
    <input type="submit" value="Search" />
</form>

<div class="object_list">
{% if results.articles.object_list %}
    <h2 class="header">Articles</h2>
    {% for article in results.articles.object_list %}
    <div class="item">
        {% if article.photos.all %}<a href="{{ article.get_absolute_url }}"><img class="photo left" alt="{{ article }}" src="{{ article.photos.all.0.get_thumbnail100_url }}" /></a>{% endif %}
        <h3 class="headline"><a href="{{ article.get_absolute_url }}">{{ article|markdown }}</a></h3>
        <p class="cdeck">{% if article.cdeck %}{{ article.cdeck }}{% else %}{{ article.body|markdown|truncatewords_html:"10" }}{% endif %}</p>
    </div>
    {% endfor %}
    {% if results.articles.has_next %}<p class="fp_section_refer"><a href="/search/?q={{ query }}&searchtype=articles&p={{ results.articles.next_page_number }}">See more articles &raquo;</a></p>{% endif %}
{% endif %}
{% if results.photos.object_list %}
    <h2 class="header">Photos</h2>
    {% for photo in results.photos.object_list %}
    <div class="item">
        <a href="{{ photo.get_absolute_url }}"><img src="{% if photo.is_horizontal %}{{ photo.get_thumbnail200_url }}{% else %}{{ photo.get_thumbnail100_url }}{% endif %}" alt="Photo from {{ photo.pub_date|date:"N j, Y" }}" /></a>
        <p class="cdeck">{{ object.cutline|markdown }}</p>
    </div>
    {% endfor %}
    {% if results.photos.has_next %}<p class="fp_section_refer"><a href="/search/?q={{ query }}&searchtype=photos&p={{ results.photos.next_page_number }}">See more photos &raquo;</a></p>{% endif %}
{% endif %}
{% if results.staffers.object_list %}
    <h2 class="header">Staff members</h2>
    {% for staffer in results.staffers.object_list %}
    <div class="item"><a href="{{ staffer.get_absolute_url }}">{{ staffer }}</a></div>
    {% endfor %}
    {% if results.staffers.has_next %}<p class="fp_section_refer"><a href="/search/?q={{ query }}&searchtype=staffers&p={{ results.staffers.next_page_number }}">See more staff members &raquo;</a></p>{% endif %}
{% endif %}
{% if results.blogs.object_list %}
    <h2 class="header">Blog posts</h2>
    {% for post in results.blogs.object_list %}
    <div class="item">
        {% if post.photos.all %}<a href="{{ post.get_absolute_url }}"><img class="photo left" alt="{{ post }}" src="{{ post.photos.all.0.get_thumbnail100_url }}" /></a>{% endif %}
        <h3 class="headline"><a href="{{ post.get_absolute_url }}">{{ post|markdown }}</a></h3>
        <p class="cdeck">{{ post.body|markdown|truncatewords_html:"10" }}</p>
    </div>
    {% endfor %}
    {% if results.blogs.has_next %}<p class="fp_section_refer"><a href="/search/?q={{ query }}&searchtype=blogs&p={{ results.blogs.next_page_number }}">See more blog posts &raquo;</a></p>{% endif %}
{% endif %}
{% if results.places.object_list %}
    <h2 class="header">Places</h2>
    {% for place in results.place.object_list %}
    <div class="item"><a href="{{ place.get_absolute_url }}">{{ place }}</a> (on <a href="{{ place.map.get_absolute_url }}">{{ place.map }}</a>)</div>
    {% endfor %}
    {% if results.places.has_next %}<p class="fp_section_refer"><a href="/search/?q={{ query }}&searchtype=campusguide&p={{ results.places.next_page_number }}">See more Campus Guide results &raquo;</a></p>{% endif %}
{% endif %}
{% if results.contacts.object_list %}
    <h2 class="header">Contacts</h2>
    {% for contact in results.contacts.object_list %}
    <div class="item">{{ contact.office }}: {{ contact.contact_info|safe }}</div>
    {% endfor %}
    {% if results.contacts.has_next %}<p class="fp_section_refer"><a href="/search/?q={{ query }}&searchtype=campusguide&p={{ results.contacts.next_page_number }}">See more Campus Guide results &raquo;</a></p>{% endif %}
{% endif %}
{% if results.podcasts.object_list %}
    <h2 class="header">Podcast episodes</h2>
    {% for episode in results.podcasts.object_list %}
    <div class="item"><a href="{{ episode.get_absolute_url }}">{{ episode|markdown }}</a></div>
    {% endfor %}
    {% if results.podcasts.has_next %}<p class="fp_section_refer"><a href="/search/?q={{ query }}&searchtype=multimedia&p={{ results.podcasts.next_page_number }}">See more multimedia &raquo;</a></p>{% endif %}
{% endif %}
{% if results.videos.object_list %}
    <h2 class="header">Videos</h2>
    {% for video in results.videos.object_list %}
    <div class="item">
        <a href="{{ video.get_absolute_url }}"><img class="photo left" alt="{{ video }}" src="{{ video.thumbnail }}" /></a>
        <h3 class="headline"><a href="{{ video.get_absolute_url }}">{{ video|markdown }}</a></h3>
        {{ video.description|markdown }}
    </div>
    {% endfor %}
    {% if results.videos.has_next %}<p class="fp_section_refer"><a href="/search/?q={{ query }}&searchtype=multimedia&p={{ results.videos.next_page_number }}">See more multimedia &raquo;</a></p>{% endif %}
{% endif %}
{% if results.slideshows.object_list %}
    <h2 class="header">Slideshows</h2>
    {% for slideshow in results.slideshows.object_list %}
    <div class="item">
        <a href="{{ slideshow.get_absolute_url }}"><img class="photo left" alt="{{ slideshow }}" src="{{ slideshow.get_thumbnail200_url }}" /></a>
        <h3 class="headline"><a href="{{ slideshow.get_absolute_url }}">{{ slideshow|markdown }}</a></h3>
        {{ slideshow.description|markdown }}
    </div>
    {% endfor %}
    {% if results.slideshows.has_next %}<p class="fp_section_refer"><a href="/search/?q={{ query }}&searchtype=multimedia&p={{ results.slideshows.next_page_number }}">See more multimedia &raquo;</a></p>{% endif %}
{% endif %}
</div>
{% endblock content %}
