{% extends "base.html" %}
{% load markup %}{% load core %}{% load scoreboard %}{% load thumbnail %}

{% block title %}{{ block.super }} &mdash; {{ archive_name }} archives{% endblock title %}

{% block head_extras %}
{% if section %}
<link rel="alternate" type="application/rss+xml" title="{{ section.name }} RSS Feed" href="/feeds/sections/{{ section.slug }}/" />
{% endif %}
<link rel="stylesheet" type="text/css" href="/media/style/2010-09/style/sectionheads.css" />
{% endblock head_extras %}

{% block content %}
<h1 class="archive_name">{{ archive_name }}<span>Archives</span></h1>
{% if archive_page.object_list %}
    {% for object in archive_page.object_list %}
    {% if forloop.first %}
    <div class="object_list">
    {% endif %}
    {% ifchanged object.pub_date %}
        {% if not forloop.first %}
        </div>
        <div class="object_list">
        {% endif %}
        <h2 class="header">{{ object.pub_date|date:"N j, Y" }}</h2>
    {% endifchanged %}
        <div class="item">
        {% ifequal object.mediatype "article" %}
            {% if object.photos.all %}<a href="{{ object.get_absolute_url }}"><img class="photo left" alt="{{ object }}" src="{{ object.photos.all.0.get_thumbnail100_url }}" /></a>{% else %}{% if object.editorial_cartoons.all %}<a href="{{ object.get_absolute_url }}"><img class="photo left" alt="{{ object }}" src="{% thumbnail object.editorial_cartoons.all.0.image 100x300 %}" /></a>{% endif %}{% endif %}
            <h3 class="headline">{% ifnotequal object.type 'story' %}{{ object.get_type_display }}: {% endifnotequal %}<a href="{{ object.get_absolute_url }}">{{ object|markdown }}</a></h3>
            {% ifnotequal object.type 'editorial' %}<p class="byline">By {% if object.byline.all %}{% render_byline object.byline %}{% else %}{% if object.static_byline %}{{ object.static_byline }}{% else %}The Maneater Staff{% endif %}{% endif %}{% if object.updated %}&mdash; <span class="breaking">Last updated {{ object.last_updated|date:"g:i a, N j, Y" }}</span>{% endif %}</p>{% endifnotequal %}
            <p class="cdeck">{% if object.cdeck %}{{ object.cdeck|markdown }}{% else %}{{ object.body|safe|markdown|truncatewords_html:"10" }}{% endif %}</p>
        {% else %}
            {% ifequal object.mediatype "video" %}
                {% if object.preview_image %}<a href="{{ object.get_absolute_url }}"><img class="photo left" alt="{{ object }}" src="{% thumbnail object.preview_image 200x350 %}" /></a>{% else %}{% if object.thumbnail %}<a href="{{ object.get_absolute_url }}"><img class="photo left" alt="{{ object }}" src="{{ object.thumbnail }}" /></a>{% endif %}{% endif %}
                <h3 class="headline"><a href="{{ object.get_absolute_url }}">{{ object }}</a></h3>
            {% else %}
                {% ifequal object.mediatype "audioclip" %}
                    {% if object.image %}
                        <a href="{{ object.get_absolute_url }}"><img class="photo left" alt="{{ object }}" src="{% thumbnail object.image 200x350 %}" /></a>
                    {% endif %}
                    <h3 class="headline"><a href="{{ object.get_absolute_url }}">{{ object }}</a></h3>
                {% else %}
                    {% ifequal object.mediatype "slideshow" %}
                        {% if object.image %}
                            <a href="{{ object.get_absolute_url }}"><img class="photo left" alt="{{ object }}" src="{% thumbnail object.image 200x350 %}" /></a>
                        {% endif %}
                        <h3 class="headline"><a href="{{ object.get_absolute_url }}">{{ object }}</a></h3>
                    {% else %}
                        {% ifequal object.mediatype "layout" %}
       	       	       	    <a href="{{ object.get_absolute_url }}"><img class="photo left" alt="{{ object }}" src="{% thumbnail object.PDF.name 200x350 %}" /></a>
       	       	       	{% else %}
                            {% if object.last_page or object.is_horizontal %}
                                <a href="{{ object.get_absolute_url }}"><img class="photo left" alt="{{ object }}" src="{% thumbnail object.image 200x350 %}" /></a>
                            {% else %}
                                {% if object.get_thumbnail100_url %}
                                    <a href="{{ object.get_absolute_url }}"><img class="photo left" alt="{{ object }}" src="{% thumbnail object.image 200x350 %}" /></a>
                                {% else %}
                                    {% ifequal object.mediatype "editorialcartoon" %}
       	       	       	       	        <a href="{{ object.get_absolute_url }}"><img class="photo left" alt="{{ object }}" src="{% thumbnail object.image 200x350 %}" /></a>
            	       	       	       	{% else %}
                                        <a href="{{ object.get_absolute_url }}">{{ object }}</a>
                                    {% endifequal %}
                                {% endif %}
                            {% endif %}
                        {% endifequal %}
                    {% endifequal %}
                {% endifequal %}
            {% endifequal %}
            
            <p class="cdeck">
                {% ifequal object.mediatype "audioclip" %}{{ object.description|safe|markdown }}{% endifequal %}
                {% ifequal object.mediatype "photo" %}{{ object.cutline|safe|markdown }}{% endifequal %}
                {% ifequal object.mediatype "slideshow" %}{{ object.description|safe|markdown }}{% endifequal %}
                {% ifequal object.mediatype "video" %}{{ object.description|safe|markdown }}{% endifequal %}
            </p>
        {% endifequal %}
        <div style="clear: both;"></div>
        </div>
    {% if forloop.last %}
    </div>
    {% endif %}
    {% endfor %}
    <div class="page_navigation">
    {% if archive_page.has_next %}<a href="{{ next_page_url }}">&laquo; Older</a> |{% endif %} Page {{ archive_page.number }} of {{ archive_page.paginator.num_pages }} {% if archive_page.has_previous %}| <a href="{{ previous_page_url }}">Newer &raquo;</a>{% endif %}
    </div>
{% else %}
<p>For some reason, there aren't any stories in this section.
{% endif %}
{% endblock content %}

{% block sidebar %}
{% comment %}{% ifequal section.slug "news" %}
    <div class="related_sidebar">
        <p>Interested in the latest crimes around campus? Check out our <a href="/blotter/">police blotter</a>.</p>
    </div>
{% endifequal %}{% endcomment %}
{% ifequal section.slug "outlook" %}
    {% comment %}{% show_cclips %}
    <div class="related_sidebar">
        <p>Interested in the latest crimes around campus? Check out our <a href="/blotter/">police blotter</a>.</p>
    </div>{% endcomment %}
{% endifequal %}
{% ifequal section.slug "forum" %}
    {% render_editorial_cartoon_sidebar %}
    <div class="related_sidebar">
        <p>Got something on your mind? <a href="/section/forum/send-letter/">Send a letter to the editor.</a></p>
    </div>
    {% show_disclaimer_archive %}
{% endifequal %}
{% ifequal section.slug "sports" %}{% show_scores_sidebar %}{% endifequal %}
{% endblock %}
