{% extends "base.html" %}
{% load markup %}

{% block title %}{{ block.super }} &ndash; RSS Feeds{% endblock title %}

{% block content %}
<h1>RSS feeds</h1>
<p>Want to keep up with everything that's posted on themaneater.com? Subscribe to our RSS feeds!</p>
<div class="object_list">
    <h2 class="header">General</h2>
    <div class="item">
        <h3 class="headline"><a href="/feeds/latest/">Latest articles</a></h3>
        <p>The latest news and updates from the official student newspaper of the University of Missouri.</p>
    </div>
    <h2 class="header">Blogs</h2>
    <div class="item">
        {% for blog in blogs %}
        <h3 class="headline"><a href="/feeds/blogs/{{ blog.slug }}/">{{ blog }}</a></h3>
        <p>{{ blog.description|markdown }}</p>
        {% endfor %}
    </div>
    <h2 class="header">Podcasts</h2>
    <div class="item">
        {% for podcast in podcasts %}
        <h3 class="headline"><a href="/feeds/podcasts/{{ podcast.slug }}/">{{ podcast }}</a></h3>
        <p>{{ podcast.description|markdown }}</p>
        {% endfor %}
    </div>
    <h2 class="header">Sections</h2>
    <div class="item">
        {% for section in sections %}
        <h3 class="headline"><a href="/feeds/sections/{{ section.slug }}/">{{ section.name }}</a></h3>
        <p>The latest articles from {{ section.name }} on themaneater.com.</p>
        {% endfor %}
    </div>
</div>
{% endblock content %}