{% extends "base.html" %}
{% load markup %}{% load core %}{% load comments %}

{% block head_extras %}
{% ifequal object.mediatype "audioclip" %}
<script src="/media/style/2009-09/js/jPlayer/jplayer.js" type="text/javascript"></script>
<script>
$(document).ready(function() {
    $("#jPlayer").jPlayer( {
        ready: function () {
            $(this).setFile("{{ object.audio_file.url }}");
        },
        swfPath: "/media/style/2009-09/js/jPlayer",
    });
    $("#jPlayer").jPlayerId("play", "play")
    $("#jPlayer").jPlayerId("pause", "pause")
    $("#jPlayer").jPlayerId("stop", "stop")
	$("#jPlayer").jPlayerId("loadBar", "progress_load_bar")
	$("#jPlayer").jPlayerId("playBar", "progress_play_bar")
	$("#jPlayer").jPlayerId("volumeMin", "volume_min")
	$("#jPlayer").jPlayerId("volumeMax", "volume_max")
	$("#jPlayer").jPlayerId("volumeBar", "volume_bar")
	$("#jPlayer").jPlayerId("volumeBarValue", "volume_bar_value")
	.onProgressChange( function(loadPercent, playedPercentRelative, playedPercentAbsolute, playedTime, totalTime) {
		var myPlayedTime = new Date(playedTime);
		var ptMin = (myPlayedTime.getUTCMinutes() < 10) ? "0" + myPlayedTime.getUTCMinutes() : myPlayedTime.getUTCMinutes();
		var ptSec = (myPlayedTime.getUTCSeconds() < 10) ? "0" + myPlayedTime.getUTCSeconds() : myPlayedTime.getUTCSeconds();
		$("#play_time").text(ptMin+":"+ptSec);

		var myTotalTime = new Date(totalTime);
		var ttMin = (myTotalTime.getUTCMinutes() < 10) ? "0" + myTotalTime.getUTCMinutes() : myTotalTime.getUTCMinutes();
		var ttSec = (myTotalTime.getUTCSeconds() < 10) ? "0" + myTotalTime.getUTCSeconds() : myTotalTime.getUTCSeconds();
		$("#total_time").text(ttMin+":"+ttSec);
	});
    $("#jPlayer").onSoundComplete( function() {
		$(this).play();
	});
});
</script>
{% else %}
    {% ifequal object.mediatype "video" %}
    <script src="http://assets.vimeo.com/js/embedinator.min.js"></script>
    {% endifequal %}
{% endifequal %}
{% endblock %}

{% block title %}{{ block.super }} &ndash; {% ifnotequal object.mediatype "audioclip" %}{{ object.mediatype|capfirst }}{% else %}Audio clip{% endifnotequal %}s &ndash; {{ object }}{% endblock title %}

{% block content %}
<h1>{{ object }}</h1>
{% ifnotequal object.mediatype "audioclip" %}<p class="byline">By {% if object.byline.all %}{% render_byline object.byline %}{% else %}{% if object.static_byline %}{{ object.static_byline }}{% else %}The Maneater Staff{% endif %}{% endif %} ({{ object.minutes }}:{{ object.seconds }}){% if object.media_partner %}<a href="{{ object.media_partner.get_absolute_url }}"><img src="{{ object.media_partner.get_thumbnail100_url }}" alt="{{ object.media_partner }}" /></a>{% endif %}</p>{% else %}
<p class="byline">Produced by: {% if object.producers.all %}{% render_byline object.producers %}{% else %}{% if object.static_byline_producer %}{{ object.static_byline_producer }}{% else %}The Maneater Staff{% endif %}{% endif %}</p>
<p class="byline">Reporting: {% if object.reporters.all %}{% render_byline object.reporters %}{% else %}{% if object.static_byline %}{{ object.static_byline }}{% else %}The Maneater Staff{% endif %}{% endif %}</p>
{% endifnotequal %}

<p class="pub_date">Published {{ object.pub_date|date:"N j, Y" }}</p>
{{ object.description|markdown }}
{% ifequal object.mediatype "video" %}
    <object width="688" height="419">
        <param name="movie" value="{{ object.swf }}"></param>
        <embed src="{{ object.swf }}" type="application/x-shockwave-flash" width="688" height="419"></embed>
    </object>
{% endifequal %}
{% ifequal object.mediatype "slideshow" %}
    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="620" height="533" id="soundslider" align="middle" style="display: block;"><param name="allowScriptAccess" value="always" /><param name="movie" value="{{ object.swf }}?size=1&format=xml" /><param name="quality" value="high" /><param name="menu" value="false" /><param name="bgcolor" value="#000000" /><embed src="{{ object.swf }}?size=1&format=xml" quality="high" bgcolor="#000000" width="620" height="533" name="soundslider" align="middle" menu="false" allowScriptAccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" /></object>
{% endifequal %}
{% ifequal object.mediatype "audioclip" %}
		<br />
        <h2 class="header">Listen</h2>
        {% comment %}{% endcomment %}
        <div id="jPlayer"></div>
        <div id="titlebar" style="margin-bottom:10px;">
            <h3 id="song_title" style="display:inline;">{{ object }}</h3>
            <div id="time_amounts" style="display:inline;font-style:italic;">(<div id="play_time" style="display:inline;"></div> / <div id="total_time" style="display:inline;"></div>)</div>
        </div>
        <ul id="player-controls" style="float:left;margin-left:0px;">
            <li id="play" style="background:transparent url(/media/style/2009-09/images/play.png) no-repeat scroll 0 -12px;float:left;height:62px;list-style-image:none;list-style-position:inside;list-style-type:none;margin-right:5px;width:60px;"></li>
            <li id="pause" style="background:transparent url(/media/style/2009-09/images/pause.png) no-repeat scroll 0 -12px;float:left;height:62px;list-style-image:none;list-style-position:inside;list-style-type:none;margin-right:5px;width:60px;"></li>
            <li id="stop" style="background:transparent url(/media/style/2009-09/images/stop.png) no-repeat;float:left;height:50px;list-style-image:none;list-style-position:inside;list-style-type:none;margin-right:10px;width:40px;"></li>
        </ul>
		<div id="progress" style="float:left;margin-right:10px;margin-top:17px;width:250px;">
			<div id="progress_load_bar" style="-moz-border-radius:5px;-webkit-border-radius:5px;background-color:#BBBBBB;height:15px;">
				<div id="progress_play_bar" style="-moz-border-radius: 5px;-webkit-border-radius:5px;background-color:#336633;height:15px;"></div>
			</div>
		</div>
		<div id="volume_bar" style="float:left;">
            <div id="volume_min" style="-moz-border-radius:5px;-webkit-border-radius:5px;background:transparent url(/media/style/2009-09/images/mute.png) no-repeat;float:left;height:50px;width:40px;"></div>
		    <div id="volume_bar" style="-moz-border-radius:5px;-webkit-border-radius:5px;background-color:#BBBBBB;float:left;height:5px;margin-top:21px;width:100px;">
			    <div id="volume_bar_value" style="-moz-border-radius:5px;-webkit-border-radius:5px;background-color:#336633;height:5px;"></div>
    		</div>
			<div id="volume_max" style="background:transparent url(/media/style/2009-09/images/max.png) no-repeat;float:left;height:50px;width:40px;"></div>
    	</div>

    <p style="clear:both;"><a href="{{ object.audio_file.url }}">Download file</a> ({{ object.audio_file.size|filesizeformat }})</p>
    <embed src='http://webjay.org/flash/xspf_player' width='500' height='40' wmode='transparent' flashVars='playlist_url=&rounded_corner=1&skin_color_1=-116,-20,-38,0&skin_color_2=-103,100,0,0' type='application/x-shockwave-flash' pluginspage='http://www.adobe.com/go/getflashplayer'/>
{% endifequal %}
{% if articles %}
<div class="object_list">
<h2 class="header">Related articles</h2>
<ul>
    {% for article in articles %}
    <li><a href="{{ article.get_absolute_url }}">{{ article }}</a> ({{ article.pub_date|date:"N j, Y" }})</li>
    {% endfor %}
</ul>
</div>
{% endif %}

{% get_comment_count for object as comment_count %}
{% get_comment_list for object as comment_list %}
<div class="object_list" id="comments">
    <h2 class="header">Comments ({{ comment_count }})</h2>
    {% for comment in comment_list %}
    <div class="item comment">
        <h3><a href="{{ comment.get_absolute_url }}">{{ comment.submit_date|date:"P, N j, Y" }}</a></h3>
        <p>{{ comment.user_name }} said:</p>
        <p>{{ comment.comment }}</p>
    </div>
    {% endfor %}
</div>

<div class="object_list">
    <h2 class="header">Post a comment</h2>
    {% if object.enable_comments %}
    <div class="item">
        {% render_comment_form for object %}
    </div>
    {% else %}
    <p>Comments have been disabled for this {% ifnotequal object.mediatype "audioclip" %}{{ object.mediatype|lower }}{% else %}audio clip{% endifnotequal %}.</p>
    {% endif %}
</div>
{% endblock content %}
