{% extends "base.html" %}
{% load markup %}{% load comments %}

{% block title %}{{ block.super }} &ndash; Blogs{% endblock title %}

{% block sidebar %}
{% if archived %}
    <div class="object_list">
        <h2 class="header">Archived blogs (no longer maintained)</h2>
        {% for blog in archived %}
            <h3><a href="{{ blog.get_absolute_url }}">{{ blog }}</a></h3>
            <p>{{ blog.description|markdown }}</p>
        {% endfor %}
    </div>
{% endif %}
{% if current %}
    <div class="object_list">
        <h2 class="header">Current blogs</h2>
        {% for blog in current %}
            <h3><a href="{{ blog.get_absolute_url }}">{{ blog }}</a></h3>
            <p>{{ blog.description|markdown }}</p>
        {% endfor %}
    </div>
{% endif %}
<p>{% if not archive %}<a href="/blogs/archived/">View archive of all blogs?</a>{% else %}<a href="/blogs/">Back to list of just current blogs?</a>{% endif %}</p>
{% endblock %}


{% block content %}
<h1>{% if not archive %}Blogs{% else %}Blog archive{% endif %}</h1>
{% if not archive %}
{% if current %}
    <div class="object_list">
        {% for object in current_entries %}
    {% if forloop.first %}
    <div class="object_list">
    {% endif %}
    {% ifchanged object.pub_date.date %}
        {% if not forloop.first %}
        </div>
	<div class="object_list">
        {% endif %}
        <h2 class="header"><div class="month">{{ object.pub_date|date:"N j, Y" }}</div><div class="calendar_link"><a href="/blogs/calendar/{{ object.pub_date|date:"Y" }}/{{ object.pub_date|date:"n" }}/{{ object.pub_date|date:"j" }}/">(calendar)</a></div><div class="float_clearer" /></h2>

    {% endifchanged %}
        <div class="item">
            <h3 class="headline"><a href="{{ object.get_absolute_url }}">{{ object|markdown }}</a></h3>
            <p class="byline">Posted to <a href="{{ object.blog.get_absolute_url }}">{{ object.blog }}</a>{% if object.byline %} by <a href="{{ object.byline.get_absolute_url }}">{{ object.byline }}</a>{% else %}{% if object.static_byline %} by {{ object.static_byline }}{% endif %}{% endif %} at {{ object.pub_date|date:"g:i a, N j, Y" }}</p>
            {% if object.photos.all %}
                {% with object.photos.all.0 as photo %}
                {% if not photo.mugshot %}
                <div class="wide_photo_container">
                    <img class="photo" alt="{{ object }}" src="{{ photo.image.url }}" />
                    <p class="byline">{% if photo.byline %}<a href="{{ photo.byline.get_absolute_url }}">{{ photo.byline }}</a>/{{ photo.byline.photographer_position }}</span>{% else %}{% if photo.static_byline %}{{ photo.static_byline }}{% endif %}{% endif %}</p>
                    {{ photo.cutline|markdown }}
                </div>
                {% endif %}
                {% endwith %}
            {% endif %}
            {% for photo in object.photos.all %}
                {% if photo.mugshot %}
                <div class="mugshot">
                    <img class="photo" src="{{ photo.get_thumbnail100_url }}" alt="Mugshot" />
                    <p><b>{{ photo.cutline }}</b></p>
                </div>
                {% endif %}
            {% endfor %}
            <p class="cdeck">{{ object.body|safe|markdown }}</p>
            {% if object.photos.all %}
            {% for photo in object.photos.all %}
                {% if not forloop.first %}
                {% if not photo.mugshot %}
                <div class="wide_photo_container">
                    <img class="photo" alt="{{ object }}" src="{{ photo.image.url }}" />
                    <p class="byline">{% if photo.byline %}<a href="{{ photo.byline.get_absolute_url }}">{{ photo.byline }}</a>/{{ photo.byline.photographer_position }}</span>{% else %}{% if photo.static_byline %}{{ photo.static_byline }}{% endif %}{% endif %}</p>
                    {{ photo.cutline|markdown }}
                </div>
                {% endif %}
                {% endif %}
            {% endfor %}
            {% endif %}
            {% get_comment_count for object as comment_count %}
            <p><a href="{{ object.get_absolute_url }}#comments">{{ comment_count }} comments</a></p>
        </div>
    {% if forloop.last %}
    </div>
    {% endif %}
    {% endfor %}
    </div>
{% endif %}
{% if live_blogs %}
    <div class="object_list">
        <h2 class="header">Live blogs</h2>
        {% for object in live_blogs_entries %}
    {% if forloop.first %}
    <div class="object_list">
    {% endif %}
    {% ifchanged object.pub_date.date %}
        {% if not forloop.first %}
        </div>
	<div class="object_list">
        {% endif %}
        <h2 class="header">{{ object.pub_date|date:"N j, Y" }}</h2>
    {% endifchanged %}
        <div class="item">
            <h3 class="headline"><a href="{{ object.get_absolute_url }}">{{ object|markdown }}</a></h3>
            <p class="byline">Posted to <a href="{{ object.blog.get_absolute_url }}">{{ object.blog }}</a>{% if object.byline %} by <a href="{{ object.byline.get_absolute_url }}">{{ object.byline }}</a>{% else %}{% if object.static_byline %} by {{ object.static_byline }}{% endif %}{% endif %} at {{ object.pub_date|date:"g:i a, N j, Y" }}</p>
            {% if object.photos.all %}
                {% with object.photos.all.0 as photo %}
                {% if not photo.mugshot %}
                <div class="wide_photo_container">
                    <img class="photo" alt="{{ object }}" src="{{ photo.image.url }}" />
                    <p class="byline">{% if photo.byline %}<a href="{{ photo.byline.get_absolute_url }}">{{ photo.byline }}</a>/{{ photo.byline.photographer_position }}</span>{% else %}{% if photo.static_byline %}{{ photo.static_byline }}{% endif %}{% endif %}</p>
                    {{ photo.cutline|markdown }}
                </div>
                {% endif %}
                {% endwith %}
            {% endif %}
            {% for photo in object.photos.all %}
                {% if photo.mugshot %}
                <div class="mugshot">
                    <img class="photo" src="{{ photo.get_thumbnail100_url }}" alt="Mugshot" />
                    <p><b>{{ photo.cutline }}</b></p>
                </div>
                {% endif %}
            {% endfor %}
            <p class="cdeck">{{ object.body|safe|markdown }}</p>
            {% if object.photos.all %}
            {% for photo in object.photos.all %}
                {% if not forloop.first %}
                {% if not photo.mugshot %}
                <div class="wide_photo_container">
                    <img class="photo" alt="{{ object }}" src="{{ photo.image.url }}" />
                    <p class="byline">{% if photo.byline %}<a href="{{ photo.byline.get_absolute_url }}">{{ photo.byline }}</a>/{{ photo.byline.photographer_position }}</span>{% else %}{% if photo.static_byline %}{{ photo.static_byline }}{% endif %}{% endif %}</p>
                    {{ photo.cutline|markdown }}
                </div>
                {% endif %}
                {% endif %}
            {% endfor %}
            {% endif %}
            {% get_comment_count for object as comment_count %}
            <p><a href="{{ object.get_absolute_url }}#comments">{{ comment_count }} comments</a></p>
        </div>
    {% if forloop.last %}
    </div>
    {% endif %}
    {% endfor %}
       </div>
{% endif %}
{% endif %}
{% if archive %}
{% if current %}
    <div class="object_list">
        <h2 class="header">Current blogs</h2>
        {% for blog in current %}
            <h3><a href="{{ blog.get_absolute_url }}">{{ blog }}</a></h3>
            <p>{{ blog.description|markdown }}</p>
        {% endfor %}
    </div>
{% endif %}
{% if live_blogs %}
    <div class="object_list">
        <h2 class="header">Live blogs</h2>
        {% for blog in live_blogs %}
            <h3><a href="{{ blog.get_absolute_url }}">{{ blog }}</a></h3>
            <p>{{ blog.description|markdown }}</p>
        {% endfor %}
    </div>
{% endif %}
{% if archived %}
    <div class="object_list">
        <h2 class="header">Archived blogs (no longer maintained)</h2>
                {% for blog in archived %}
                <h3><a href="{{ blog.get_absolute_url }}">{{ blog }}</a></h3>
                <p>{{ blog.description|markdown }}</p>
                {% endfor %}
        </div>
{% endif %}
{% endif %}
<p>{% if not archive %}<a href="/blogs/archived/">View archive of all blogs?</a>{% else %}<a href="/blogs/">Back to list of just current blogs?</a>{% endif %}</p>
{% endblock %}
