{% extends "base.html" %} {% load markup %} {% load comparison %} {% block title %}{{ block.super }} &ndash; {% if blog %}{{ blog }} &ndash;{% else %}All blog entries from{% endif %} {{ month_name }} {{ year }}
{% endblock title %}
{% block head_extras %}
{% ifequal site.id 1 %}<link rel="stylesheet" type="text/css" href="/media/style/2009-06/style/maneatercalendar.css" />{% endifequal %}
{% ifequal site.id 2 %}<link rel="stylesheet" type="text/css" href="/media/style/2009-06/style/movecalendar.css" />{% endifequal %}
{% endblock head_extras %}
{% block content %}

<div class="calendarmain">

<div class="calendartitlebar">

<div class="prevlink">
<a href="/blogs/{% if blog %}{{ blog.slug }}/calendar{% else %}calendar{% endif %}/{% ifnotequal month 1 %}{{ year }}/{{ month_minus }}/{% else %}{{ year_minus }}/12/{% endifnotequal %}">&laquo; Last Month</a>
</div>

<h1 class="caltitle">{% if blog %}{{ blog }} &mdash;{% else %}All blog entries from{% endif %} {{ month_name }} {{ year }}</h1>

<div class="nextlink">
<a href="/blogs/{% if blog %}{{ blog.slug }}/calendar{% else %}calendar{% endif %}/{% ifnotequal month 12 %}{{ year }}/{{ month_plus }}/{% else %}{{ year_plus }}/1/{% endifnotequal %}">Next Month &raquo;</a>
</div>

<div class="spacer">
</div>

</div>
<div class="calendarmessage">{{ page_name }}</div>
</div>
{% if month_formatted %}
<table class="calendar">
{% if weekday_header %}
<tr class="header">
{% for weekday_name in weekday_header %}
<td class="header">
{{ weekday_name }}
</td>
{% endfor %}
</tr>
{% endif %}
{% for week in month_formatted %}
<tr class="calendar">
{% for day in week %}
{% ifequal day 0 %}
<td class="calendar inactive"></td>
{% else %}

{% ifequal day today %}

{% ifequal month this_month %}

{% ifequal year this_year %}

{% if forloop.last %}                                                          
<td class="today calendarlast calendar active">
{% else %}
<td class="today calendar active">
{% endif %}

{% else %}

{% if forloop.last %}                                                          
<td class="calendarlast calendar active">
{% else %}
<td class="calendar active">
{% endif %}

{% endifequal %}

{% else %}

{% if forloop.last %}                                                          
<td class="calendarlast calendar active">
{% else %}
<td class="calendar active">
{% endif %}

{% endifequal %}

{% else %}

{% if forloop.last %}
<td class="calendarlast calendar active">
{% else %}
<td class="calendar active">
{% endif %}

{% endifequal %}

<div class="daybar">
<div class="daymarker">
<a href="/blogs/{% if blog %}{{ blog.slug }}/calendar{% else %}calendar{% endif %}/{{ year }}/{{ month }}/{{ day }}/">
{{ day }}
</a>
</div>
</div>
{% for entry in entry_list %}

{% ifequal entry.pub_date.year year %}
{% ifequal entry.pub_date.month month %}
{% ifequal entry.pub_date.day day %}

{% with entry.blog.calendar_key_color as blog_color %}

<div class="blogentrydetails" style="background-color: {% if blog_color %}{{ blog_color }}{% else %}#EFEFEF{% endif %};">
{% if not blog_color %}<div class="backless">{% endif %}
{% if blog_color %}<div style="border-bottom: 1px solid #FFFFFF; color: #FFFFFF; font-size: 10px; margin-bottom: 3px;">{{ entry.blog.title }}</div>{% else %}<div class="entryheader">{% ifequal entry.blog.section.publication.id 2%}MOVE {% else %}{% ifequal entry.blog.section.id 3 %}MOVE {% else %}{{ entry.blog.section.name }} {% endifequal %}{% endifequal %}{% if entry.blog.is_live_blog %}Live Blog{% endif %}</div>{% endif %}<a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>{% if not blog_color %}</div>{% endif %}
</div>

{% endwith %}

{% endifequal %}
{% endifequal %}
{% endifequal %}

{% endfor %}
</td>
{% endifequal %}
{% endfor %}
</tr>
{% endfor %}
</table>
{% else %}
Strangely enough, there's no content to display here. Try retracing your steps, or searching for what you want to find.
{% endif %}
{% endblock content %}
{%  block sidebar %}
<div class="calsidebar">
{% if blog_list %}

{% if blog %}
<h2 class="header">Other blogs:</h2>
<p>Check out these other blogs compiled by The Maneater.</p>
{% for blogname in blog_list %}
{% ifequal blogname.title blog.title %}
<!--<h3>{{ blogname.title }}</h3>-->
{% else %}
<h3><a href="/blogs/{{ blogname.slug }}/">{{ blogname.title }}</a></h3>
{% endifequal %}
{% endfor %}
{% else %}
<h2 class="header">Key to blogs:</h2>
<p>Entries are color-coded by blog.  To see similar posts, click on one of the links below.</p>
{% for blogname in blog_list %}
<h3><a href="/blogs/{{ blogname.slug }}/"><div style="color: {{ blogname.calendar_key_color }};">{{ blogname.title }}</div></a></h3>
{% endfor %}
{% endif %}
<p />
<p>Or, see <a href="/blogs/">all recent blog entries</a>.</p>
{% else %}
<div class="debugging">There are currently no blog entries to display here.</div>
{% endif %}
</div>
{% endblock sidebar %}
