{% extends "base.html" %}

{% block head_extras %}
<style>
ul.first_round,
ul.second_round {
    font-size: 10px;
    width: 80px;
}
ul.second_round {
    margin-top: 16px;
}
li.game {
    padding: 2px 0px 2px 2px;
}
li.odd {
    border-top: 1px solid #000000;
    margin-top: 10px;
}
li.even {
    border-bottom: 1px solid #000000;
}
ul.left li {
    border-right: 1px solid #000000;
}
ul.second_round li.odd {

}
ul.second_round li.even {
    margin-bottom: 45px;
    padding-top: 13px;
}
</style>
{% endblock head_extras %}

{% block content_wide %}
<ul class="first_round left">
{% for game in first_round_by_region.M %}
    <li class="game odd">{{ game.opponent_set.all.0.team.ranking }} {{ game.opponent_set.all.0.team.team.get_school_abbrev }}</li>
    <li class="game even">{{ game.opponent_set.all.1.team.ranking }} {{ game.opponent_set.all.1.team.team.get_school_abbrev }}</li>
{% endfor %}
</ul>
<ul class="second_round left">
{% for game in second_round_by_region.M %}
    <li class="game odd">Game {{ game.priority }}</li>
    <li class="game even">{{ game.location.name }}</li>
{% endfor %}
</ul>
{% endblock content_wide %}
