{% extends "base.html" %}

{% block title %}{{ block.super }} &ndash; Maneater Madness 2010{% endblock title %}

{% block head_extras %}
<link rel="stylesheet" type="text/css" href="/media/style/2010-03/style/public-forms.css" />
{% endblock head_extras %}

{% block content_wide %}
<div id="bracket" class="grid_12">
<h1>{% block heading %}Make your predictions{% endblock heading %}</h1>
{% block caption %}
<p>Select your picks for this round and click 'save predictions' to move on.</p>
<p>If you change your mind on a pick, click 'go back' to re-select your previous round picks.</p>
{% endblock caption %}
</div>
<form method="post">
<div id="bracket" class="grid_12">
{% block bracket %}
{% endblock bracket %}
</div>
<div id="submit-buttons" class="grid_12">
{% block submit %}
<a class="submit-button" href="back/">Go back</a>
{% endblock submit %}
</div>
</form>
{% endblock content_wide %}
