{% extends "tournaments/bracket_base.html" %}
{% load tournaments %}
{% block head_extras %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/media/style/2010-03/style/brackets.css" />
{% comment %}
<style>
div#bracket ul.bracket-region {
    margin-left: 0;
    margin-right: 0;
    width: 80px;
}
ul.bracket-region li {
    font-size: 10px;
    padding-left: 2px;
}
ul.bracket-region li.odd {
    border-top: 1px solid #000000;
}
ul.bracket-region li.even {
    border-bottom: 1px solid #000000;
    margin-bottom: 10px;
}
div#bracket ul.left li {
    border-right: 1px solid #000000;
}
div#bracket ul.right {
    float: left;
}
div#bracket ul.right li {
    border-left: 1px solid #000000;
}
div#bracket ul.first-round {
    margin-top: 10px;
}
div#bracket ul.first-round li.even {

}
div#bracket ul.second-round {
    margin-top: 23px;
}
div#bracket ul.second-round li.even {
    margin-bottom: 34px;
    padding-top: 13px;
}
div#bracket ul.regional-semifinals {
    margin-top: 36px;
}
div#bracket ul.regional-semifinals li.even {
    margin-bottom: 66px;
    padding-top: 56px;
}
div#bracket ul.regional-finals {
    margin-top: 74px;
}
div#bracket ul.regional-finals li.even {
    margin-bottom: 0px;
    padding-top: 128px;
}
div#bracket ul.regional-winner {
    margin-top: 138px;
}
div#bracket ul.regional-winner li {
    border-bottom: 1px solid #000000;                                                                                          
}
div#bracket ul.national-semifinal-top {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    margin-bottom: 0;
    margin-top: 151px;
    height: 105px;
    padding-top: 90px;
    width: 138px;
}
div#bracket ul.national-semifinal-top li {
    border-bottom: 1px solid #000000;
    width: 80px;
}
div#bracket ul.national-semifinal-top li.national-champion {
    border-bottom: 0;
    margin-left: 10px;
    padding-top: 45px;
    text-align: center;
    width: 116px;
}
div#bracket ul.national-semifinal-top li.national-champion span {
    border-top: 1px solid #000000;
    display: block;
    font-weight: bold;
    padding-top: 3px;
    text-align: center;
}
div#bracket ul.national-semifinal-bottom {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    height: 122px;
    padding-top: 30px;
    width: 138px;
}
div#bracket ul.national-semifinal-bottom li {
    border-bottom: 1px solid #000000;
    float: right;
    width: 80px;
}
</style>
{% endcomment %}
{% endblock head_extras %}

{% block heading %}Maneater Madness 2010 &mdash; {{ user.username|capfirst }}'s bracket{% endblock heading %}

{% block caption %}
{% endblock caption %}

{% block bracket %}
{% render_bracket_full user %}
{% endblock bracket %}

{% block submit %}
{% endblock submit %}
