<ul class="grid_1 bracket-region regional-winner">
<li class="center">{% ifequal region_winner.ranking 17 %}16 UAPB/Winthrop{% else %}{{ region_winner.ranking }} {{ region_winner.team.get_school_abbrev }}{% endifequal %}</li>
</ul>
<ul class="grid_1 bracket-region regional-finals right">
{% for participant in regional_final_participants %}
<li class="odd">{% ifequal participant.0.ranking 17 %}16 UAPB/Winthrop{% else %}{{ participant.0.ranking }} {{ participant.0.team.get_school_abbrev }}{% endifequal %}</li>
<li class="even">{% ifequal participant.1.ranking 17 %}16 UAPB/Winthrop{% else %}{{ participant.1.ranking }} {{ participant.1.team.get_school_abbrev }}{% endifequal %}</li>
{% endfor %}
</ul>
<ul class="grid_1 bracket-region regional-semifinals right">
{% for participant in regional_semifinal_participants %}
<li class="odd">{% ifequal participant.0.ranking 17 %}16 UAPB/Winthrop{% else %}{{ participant.0.ranking }} {{ participant.0.team.get_school_abbrev }}{% endifequal %}</li>
<li class="even">{% ifequal participant.1.ranking 17 %}16 UAPB/Winthrop{% else %}{{ participant.1.ranking }} {{ participant.1.team.get_school_abbrev }}{% endifequal %}</li>
{% endfor %}
</ul>
<ul class="grid_1 bracket-region second-round right">
{% for participant in second_round_participants %}
<li class="odd">{% ifequal participant.0.ranking 17 %}16 UAPB/Winthrop{% else %}{{ participant.0.ranking }} {{ participant.0.team.get_school_abbrev }}{% endifequal %}</li>
<li class="even">{% ifequal participant.1.ranking 17 %}16 UAPB/Winthrop{% else %}{{ participant.1.ranking }} {{ participant.1.team.get_school_abbrev }}{% endifequal %}</li>
{% endfor %}
</ul>
<ul class="grid_1 bracket-region first-round right">
{% for participant in first_round_participants %}
<li class="odd">{% ifequal participant.0.ranking 17 %}16 UAPB/Winthrop{% else %}{{ participant.0.ranking }} {{ participant.0.team.get_school_abbrev }}{% endifequal %}</li>
<li class="even">{% ifequal participant.1.ranking 17 %}16 UAPB/Winthrop{% else %}{{ participant.1.ranking }} {{ participant.1.team.get_school_abbrev }}{% endifequal %}</li>
{% endfor %}
</ul>
