{% extends "base.html" %}
{% load tournaments %}{% load core %}{% load markup %}{% load advertising %}
{% block title %}{{ block.super }} &mdash; Maneater Madness 2010{% endblock title %}
{% block head_extras %}
<link rel="stylesheet" type="text/css" href="/media/style/2010-03/style/brackets.css" />
<script type="text/javascript" src="/media/style/2010-02/js/curvycorners.js" ></script>
<script type="text/javascript" src="/media/style/2010-03/js/jquery.anythingslider.js"></script>
<script type="text/javascript" src="/media/style/2010-03/js/jquery.easing.1.2.js"></script>
<script type="text/javascript">
$(function () {
    $('#slider-container').anythingSlider({
        easing: "easeOutBack",
        autoPlay: true,
        delay: 3000,
        startStopped: false,
        animationTime: 600,
        hashTags: false,
        buildNavigation: false,
        pauseOnHover: true,
        startText: "Go",
	stopText: "Stop",
    });
});
</script>
<script type="text/javascript">
    $(function (){
        var totabContainers = $('div.BracketTabs > div > div');

        $('div.BracketTabs > div > div > div.tab_marker').css('backgroundColor','#FFFFFF');

        $('div.BracketTabs ul.tab_navigation a').click(function (){
            totabContainers.hide().filter(this.hash).show();
            $('div.BracketTabs ul.tab_navigation li').addClass('Mtabpassive');
            $(this).parent().parent().removeClass('Mtabpassive');
            return false;
        }).filter(':first').click();
    });
</script>
<style>
.fp_row {
    border-bottom: 1px dotted #BBBBBB;
}
#slider-container {
    height: 324px;
    margin: 4px auto 10px;
    position: relative;
    width: 460px;
}
#main-content {
    border-left: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
    height: 326px;
    left: 0;
    margin: 0 31px;
    overflow: auto;
    position: absolute;
    top: 0;
    width: 396px;
}
#main-content ul {
    background: none;
    border-bottom: 1px solid #BBBBBB;
    border-top: 1px solid #BBBBBB;
    left: 0;
    list-style: none outside none;
    margin: 0;
    position: absolute;
    top: 0;
    width: 2000px;
}
#main-content ul li {
    display: block;
    float: left;
    height: 324px;
    margin: 0;
    padding: 0;
    width: 396px;
}

#slider-container .arrow {
    display: block;
    height: 200px;
    width: 67px;
    background: url(/media/style/2010-03/images/arrows.png) no-repeat 0 0;
    text-indent: -9999px;
    position: absolute;
    top: 65px;
    cursor: pointer;
}

#slider-container .forward {
    background-position: 0 0;
    right: -35px;
}

#slider-container .back {
    background-position: -67px 0;
    left: -35px;
}
#start-stop {
    display: none;
}
.photocover {
    background-color: #555555;
    border-top: 1px solid #888888;
    height: 80px;
    margin-top: -85px;
    opacity: 0.95;
    position: absolute;
    width: 396px;
    z-index: 3;
}
.photocover h3.headline {
    color: #FFFFFF;
    font-size: 18px;
    margin: 5px;
}
.photocover h3.headline a {
    color: #FFFFFF;
}
.photocover h3.headline a:hover {
    color: #BBBBBB;
}
.photocover p.cdeck {
    color: #BBBBBB;
    margin: 0 5px;
}
li.tagged-item {
    padding-bottom: 5px;
}
.calendar .game {
    padding-bottom: 5px;
}
.calendar .game p {
    font-size: 11px;
    font-style: italic;
    margin-bottom: 5px;
}
#ad_bar {
    height: 60px;
}
.sponsor_caption {
    color: #BBBBBB;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}
ul.tab_navigation {
        height: 30px;
        position: absolute;
        z-index: 2;
}
.tab_navigation h2 a {
    color: #FFFFFF;
}
#Mtab1, #Mtab2, #Mtab3 {
    width: 314px;
}
h2.Mtab1, h2.Mtab2, h2.Mtab3 {
    background-color: #336633;
    color: #FFFFFF;
    font-size: 14px;
    margin-bottom: 7px;
    padding: 6px 10px 3px;
}
h2.Mtab1 {
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-right: 1px solid #FFFFFF;
    padding-right: 9px;
}
h2.Mtab2 {
    border-right: 1px solid #FFFFFF;
    padding-right: 9px;
}
h2.Mtab3 {
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    padding-right: 10px;
}
.Mtabpassive h2 {
    background-color: #EFEFEF;
    border: 1px solid #BBBBBB;
    padding: 5px 9px 2px;
    width: 293px;
}
.Mtabpassive h2 a {
    color: #777777;
}
.Mtabpassive h2 a:hover {
    color: #AAAAAA;
}
.tab_wrapper #BracketTab0,
.tab_wrapper #BracketTab1 {
    padding-top: 35px;
}
.tab_wrapper #BracketTab2 {
    padding-top: 39px;
}
.bracket-username {
    display: inline;
}
.bracket-points {
    display: inline;
}
.ad_shortvert img {
    -moz-box-shadow: 0 2px 10px black;
}
#ad_bar_lower {
    height: 76px;
}
#content_wide {
    padding-bottom: 0;
}
</style>
{% endblock head_extras %}
{% block content_wide %}
<div class="grid_12 fp_row">
<div id="slider" class="grid_6 alpha">
    <div id="slider-container">
        <div id="main-content">
            <ul>
                <li><img src="/media/style/2010-03/images/madness2010.jpg" /></li>
                <li><a href="/slideshows/2010/3/22/57/"><img src="/media/style/2010-03/images/bowers_34.jpg" /></a><div class="photocover"><h3 class="headline"><a href="/slideshows/2010/3/22/57/">Slideshow: The Tigers' tourney experience</a></h3><p class="cdeck">Missouri travelled to the NCAA Tournament in Buffalo, N.Y. and returned with a victory against Clemson but a loss to West Virginia.</p></div></li>
                <li><a href="/maneater-madness/bracketology/"><img src="/media/style/2010-03/images/bracketology.jpg" /></a><div class="photocover"><h3 class="headline"><a href="/maneater-madness/bracketology/">Maneater Bracketology</a></h3><p class="cdeck">The Maneater looks at what to expect in this year's tournament.</p></div></li>
            </ul>
        </div>
    </div>
</div>
<div class="grid_3" style="border-left:1px dotted #BBBBBB;margin-left:0;padding-left:9px;">
<h2 class="sectionblack">Latest content</h2>
{% if items %}
    <ul>
        {% for item in items %}
        <li class="tagged-item">
            <h3 class="headline"><a href="{{ item.get_absolute_url }}">{{ item|markdown }}</a></h3>
        </li>
	{% endfor %}
    </ul>
    <p class="fp_section_refer"><a href="/tags/mens-basketball/">View more related content...</a></p>
{% else %}
    <p>For some reason, there aren't any items to show here.</p>
{% endif %}
</div>
<div class="grid_3 omega" style="border-left:1px dotted #BBBBBB;margin-left:0;padding-left:9px;">
<h2 class="sectionblack">Upcoming games</h2>
<ul class="calendar">
   {% for game in game_calendar %}
    <li class="game">
        <h3 class="headline">{% ifequal game.opponent_set.all.0.team.ranking 17 %}16{% else %}{{ game.opponent_set.all.0.team.ranking }}{% endifequal %} {{ game.opponent_set.all.0.team.team.school_name }} vs. {% ifequal game.opponent_set.all.1.team.ranking 17 %}16{% else %}{{ game.opponent_set.all.1.team.ranking }}{% endifequal %} {{ game.opponent_set.all.1.team.team.school_name }}</h3>
        <p>{{ game.location.get_round_display }}{% ifnotequal game.location.round 'f' %} ({{ game.location.get_region_display }} region){% endifnotequal %}</p>
        <p>{{ game.location.name }}</p>
        <p>{{ game.time|date:"N j" }} at {{ game.time|date:"g:i a" }}</p>
    </li>
    {% endfor %} 
</ul>
<p class="fp_section_refer"><a href="/maneater-madness/calendar/">See more upcoming games...</a></p>
</div>
</div>
<div id="ad_bar" class="grid_12 fp_row">
{% comment %}    <p class="sponsor_caption">Sponsored by</p><div style="clear:both;"></div>{% endcomment %}
    <span class="right">{% render_ad_by_id 36 %}</span>{% render_ad_by_id 35 %}
</div>
<div id="bracket" class="grid_12 fp_row">
<div class="BracketTabs">
<ul class="tab_navigation">
    <li id="Mtab1" class=grid_4 alpha omega">
        <h2 class="title Mtab1"><a href="#BracketTab0">The Maneater's picks</a></h2>
    </li>
    <li	id="Mtab2" class=grid_4	alpha omega">
        <h2 class="title Mtab2"><a href="#BracketTab1">Your picks</a></h2>
    </li>
    <li	id="Mtab3" class=grid_4	alpha omega">
        <h2 class="title Mtab3"><a href="#BracketTab2">Others' picks</a></h2>
    </li>
</ul>
<div class="tab_wrapper">

<div id="BracketTab0">
<div class="tab_marker"></div>
{% render_bracket_full staff_picks_account %}
</div>

<div id="BracketTab1">
<div class="tab_marker"></div>
 {% if user.is_authenticated %}
<h2>Welcome, {{ user }}!</h2>
{% if view_user %}
{% render_bracket_full user %}
{% else %}
<p>Sorry! The deadline for submitting brackets to Maneater Madness has passed.</p>
{% endif %}
{% else %}
{% comment %}
<h1>You haven't submitted a bracket yet!</h1>
<br/>
<h3><a href="/accounts/register/">Register</a> or <a href="/accounts/login/">log in</a> to submit a bracket you could win prizes!</h3>
{% endcomment %}
<h1>You are not logged in.</h1>
<p>Log in now to check your bracket and see your score!</p>
{% if extra_context.form.errors %}
<p>Your username and password didn't match. Please try again.</p> 
{% endif %}
<form method="POST" action="">
    {{ extra_context.form.as_p }}
    <input type="hidden" name="next" value="/maneater-madness/" />
    <input type="submit" value="Log in" />
</form>
{% endif %}
</div>

<div id="BracketTab2">
<div class="tab_marker"></div>
    <div class="grid_3 alpha">
        <h2 class="sectiongrey">Staff brackets</h2>
        <ul>
            {% for bracket in staff_brackets %}
                <li>
                    <h3 class="bracket-username"><a href="/maneater-madness/view-bracket/{{ bracket.user.username }}/">{{ bracket.user.username }}</a></h3>
       	       	    <p class="bracket-points">({{ bracket.correct_predictions }} points)</p>
                </li>
            {% empty %}
                <li></li>
            {% endfor %}
        </ul>
        <p class="fp_section_refer"><a href="/maneater-madness/staff-brackets/">View more staff brackets...</a></p>
    </div>
    <div class="grid_3">
        <h2 class="sectiongrey">Users' brackets</h2>
        <ul>
            {% for bracket in non_staff_brackets %}
                <li>
                    <h3 class="bracket-username"><a href="/maneater-madness/view-bracket/{{ bracket.user.username }}/">{{ bracket.user.username }}</a></h3>
                    <p class="bracket-points">({{ bracket.correct_predictions }} points)</p>
                </li>
            {% empty %}
                <li>
                    <h3>No non-staff brackets have been submitted.</h3>
                    <p>{% if not authenticated %}<a href="/accounts/register/">Register</a> today and b{% else %}B{% endif %}e the first to {% if authenticated %}<a href="/maneater-madness/create/">submit</a>{% else %}submit{% endif %} your predictions!</h3>
                </li>
            {% endfor %}
        </ul>
        <p class="fp_section_refer"><a href="/maneater-madness/user-brackets/">View more users' brackets...</a></p>
    </div>
    <div class="grid_6 omega">
        <h2 class="sectiongrey">Contest leaders</h2>
        <ul>
            {% for bracket in all_current_brackets %}
                <li>
                    <h3 class="bracket-username"><a href="/maneater-madness/view-bracket/{{ bracket.user.username }}/">{{ bracket.user.username }}</a></h3>
                    <p class="bracket-points">({{ bracket.correct_predictions }} points)</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

</div>
</div>
</div>
<div id="upright_ad_bar" class="grid_12 fp_row">
<h2 class="sectionblack">Other sponsors</h2>
<span class="right" style="margin-left: 85px;">{% render_ad_by_id 30 %}</span>
<span class="right" style="margin-left: 85px;">{% render_ad_by_id 31 %}</span>
<span class="right" style="margin-left: 85px;">{% render_ad_by_id 32 %}</span>
<span class="right" style="margin-left: 85px;">{% render_ad_by_id 33 %}</span>
{% render_ad_by_id 34 %}
</div>
<div id="ad_bar_lower" class="grid_12 fp_row">
    <span class="right">{% render_adsense 'banner' %}</span>{% render_ad_by_id 29 %}
</div>
{% endblock content_wide %}