{% extends "base.html" %}
{% load markup %}

{% block title %}{{ block.super }} &ndash; Elections &ndash; Ballot issues for {{ election_date|date:"N j, Y" }}{% endblock title %}

{% block content %}
<h1>Ballot issues for {{ election_date|date:"N j, Y" }}</h1>
<div class="object_list">
    <h2>All ballot issues</h2>
    <div class="item">
        {% if ballot_issues %}
        {% for ballot_issue in ballot_issues %}
        <h3 class="headline"><a href="{{ ballot_issue.get_absolute_url }}">{{ ballot_issue }}</a></h3>
        <p class="excerpt">{{ ballot_issue.description }}</p>
        {% endfor %}
        {% else %}
        <p>No ballot issues are defined for this election.</p>
        {% endif %}
    </div>
</div>
{% endblock content %}