{% extends "base.html" %}
{% load markup %}

{% block title %}{{ block.super }} &ndash; Elections &ndash; {{ ballotissue }} ({{ ballotissue.election }}, {{ ballotissue.get_level_display }}){% endblock title %}

{% block content %}
<h1>{{ ballotissue }}</h1>
<p>{{ ballotissue.get_level_display }}-level ballot issue in the <a href="{{ ballotissue.election.get_absolute_url }}">{{ ballotissue.election }}</a></p>
<div class="object_list" style="float: right; width: 40%;">
    {% if ballotissue.related_articles %}
    <h2>Latest articles</h2>
    <div class="item">
        {% for article in ballotissue.related_articles %}
        <h3 class="headline">{% ifnotequal article.type 'story' %}{{ article.get_type_display }}: {% endifnotequal %}<a href="{{ article.get_absolute_url }}">{{ article.title|markdown }}</a></h3>
        {% endfor %}
    </div>
    {% else %}
    <p>&nbsp;</p>
    {% endif %}
</div>
<div class="object_list" style="width: 55%;">
    <h2>General information</h2>
    <div class="item">
        {% if ballotissue.description %}
        <h3 class="headline">Description</h3>
        <p class="excerpt">{{ ballotissue.description|markdown }}</p>
        {% endif %}
        {% if ballotissue.official_language %}
        <h3 class="headline">Official ballot language</h3>
        <p class="excerpt">{{ ballotissue.official_language|markdown }}</p>
        {% endif %}
        {% if ballotissue.fair_language %}
        <h3 class="headline">Fair ballot language</h3>
        <p class="excerpt">{{ ballotissue.fair_language|markdown }}</p>
        {% endif %}
        {% if ballotissue.other_info %}
        <h3 class="headline">Other info</h3>
        <p class="excerpt">{{ ballotissue.other_info|markdown }}</p>
        {% endif %}
    </div>
    {% if ballotissue.related_blog_entries %}
    <h2>Latest blog posts</h2>
    <div class="item">
        {% for post in ballotissue.related_blog_entries %}
        <h3><a href="{{ post.get_absolute_url }}">{{ post|markdown }}</a></h3>
        <p>(from <a href="{{ post.blog.get_absolute_url }}">{{ post.blog }}</a>)
        {% endfor %}
    </div>
    {% endif %}
</div>
{% if ballotissue.pros and ballotissue.cons %}
<div class="object_list">
	<h2>Pros and cons</h2>
	<table class="elections_table">
		<thead>
			<tr>
				<td class="column_half">Pro</td>
				<td class="column_half">Con</td>
			</tr>
		</thead>
		<tfoot></tfoot>
		<tbody>
			<tr>
				<td>{{ ballotissue.pros|markdown }}</td>
				<td>{{ ballotissue.cons|markdown }}</td>
			</tr>
		</tbody>
	</table>
</div>
{% endif %}
{% endblock %}