{% extends "base.html" %}
{% load markup %}

{% block title %}{{ block.super }} &ndash; Elections &ndash; Candidates for {{ election_date|date:"N j, Y" }}{% endblock title %}

{% block content %}
<h1>Candidates for {{ election_date|date:"N j, Y" }}</h1>
<div class="object_list">
    <h2>All candidates</h2>
    {% if candidates %}
    <div class="story clear">
        {% for candidate in candidates %}
        <h3 class="headline"><a href="{{ candidate.get_absolute_url }}">{{ candidate }}</a></h3>
        <p class="excerpt">{% if candidate.party %}The {{ candidate.party }} c{% else %}C{% endif %}andidate for {{ candidate.race }}.</p>
        {% if candidate.running_mate %}
        <p class="excerpt">Running mate: <a href="{{ candidate.running_mate.get_absolute_url }}">{{ candidate.running_mate }}</a></p>
        {% endif %}
        {% endfor %}
    </div>
    {% else %}
    <p>No candidates have been defined for this election.</p>
    {% endif %}
</div>
{% endblock content %}