{% extends "base.html" %}
{% load markup %}

{% block title %}{{ block.super }} &ndash; Elections &ndash; {{ candidate }} ({{ candidate.race.election.date|date:"N j, Y" }}){% endblock title %}

{% block content %}
<h1>{{ candidate }}</h1>
{% if not candidate.running_mate_for %}
<p>{% if candidate.party %}{{ candidate.party }} c{% else %}C{% endif %}andidate for <a href="{{ candidate.race.get_absolute_url }}">{{ candidate.race.position }}</a></p>
{% else %}
<p>{% if candidate.party %}{{ candidate.party }} vice-presidential{% else %}Vice-presidential{% endif %} candidate for <a href="{{ candidate.running_mate_for.race.get_absolute_url }}">{{ candidate.running_mate_for.race }}</a></p>
{% endif %}
<div class="object_list" style="float: right; width: 40%;">
    {% if candidate.mugshot %}
    <img src="{{ candidate.mugshot.url }}" alt="{{ candidate }}" title="candidate" style="display: block; border: 1px solid #000; margin-bottom: 20px;" />
    {% endif %}
    {% if candidate.running_mate %}
    <h2>Running mate</h2>
    <p class="excerpt"><a href="{{ candidate.running_mate.get_absolute_url }}">{{ candidate.running_mate }}</a></p>
    {% endif %}
    {% if candidate.running_mate_for %}
    <h2>Running mate for</h2>
    <p class="excerpt"><a href="{{ candidate.running_mate_for.get_absolute_url }}">{{ candidate.running_mate_for }}</a></p>
    {% endif %}
    {% if candidate.web_site %}
    <h2>Web site</h2>
    <p class="excerpt"><a href="{{ candidate.web_site }}">Click here</a></p>
    {% endif %}
    {% if candidate.related_blog_entries %}
    <h2>Latest blog posts</h2>
    <div class="item">
        {% for post in candidate.related_blog_entries %}
        <h3><a href="{{ post.get_absolute_url }}">{{ post|markdown }}</a></h3>
        <p>(from <a href="{{ post.blog.get_absolute_url }}">{{ post.blog }}</a>)
        {% endfor %}
    </div>
    {% endif %}
</div>
<div class="object_list" style="width: 55%;">
    <h2>General information</h2>
    <div class="item">
        <h3 class="headline">Full name</h3>
        <p class="excerpt">{{ candidate.prefix }} {{ candidate.first_name }} {{ candidate.middle_name }} {{ candidate.last_name }} {{ candidate.suffix }}</p>
        {% if candidate.age %}
        <h3 class="headline">Age</h3>
        <p class="excerpt">{{ candidate.age }}</p>
        {% endif %}
        {% if candidate.hometown %}
        <h3 class="headline">Hometown</h3>
        <p class="excerpt">{{ candidate.hometown }}</p>
        {% endif %}
        {% if candidate.education %}
        <h3 class="headline">Education</h3>
        <p class="excerpt">{{ candidate.education|markdown }}</p>
        {% endif %}
        {% if candidate.job_history %}
        <h3 class="headline">Experience</h3>
        <p class="excerpt">{{ candidate.job_history|markdown }}</p>
        {% endif %}
        {% if candidate.family %}
        <h3 class="headline">Family</h3>
        <p class="excerpt">{{ candidate.family|markdown }}</p>
        {% endif %}
        {% if candidate.major %}
        <h3 class="headline">Major</h3>
        <p class="excerpt">{{ candidate.major }}</p>
        {% endif %}
        {% if candidate.graduation %}
        <h3 class="headline">Expected graduation date</h3>
        <p class="excerpt">{{ candidate.graduation }}</p>
        {% endif %}
        {% if candidate.affiliations %}
        <h3 class="headline">Other affiliations</h3>
        <p class="excerpt">{{ candidate.affiliations|markdown }}</p>
        {% endif %}
        {% if candidate.other_info %}
        <h3 class="headline">Other information</h3>
        <p class="excerpt">{{ candidate.other_info|markdown }}</p>
        {% endif %}
    </div>
    {% if candidate.donation_set.all %}
    <h2>Faculty and staff donations</h2>
    <p class="excerpt"><a href="donations/">Click here to view</a>
    {% endif %}
    {% if candidate.related_articles %}
    <h2>Latest articles</h2>
    <div class="item">
        {% for article in candidate.related_articles %}
        <h3 class="headline">{% ifnotequal article.type 'story' %}{{ article.get_type_display }}: {% endifnotequal %}<a href="{{ article.get_absolute_url }}">{{ article.title|markdown }}</a></h3>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% if candidate.our_profile %}
<div class="object_list" style="clear: both;">
    <h2 class="headline">Our profile</h2>
    <div class="item">
        <h3 class="headline"><a href="{{ candidate.our_profile }}">{{ candidate.our_profile }}</a></h3>
        {% comment %}<p class="excerpt">{{ candidate.our_profile.body|truncatewords:"200"|markdown }}</p>{% endcomment %}
    </div>
</div>
{% endif %}
{% endblock content %}
