{% extends "base.html" %}

{% block title %}{{ block.super }} &ndash; Elections &ndash; Donations by {{ donor }}{% endblock title %}

{% block content %}
<h1>Donations by {{ donor }}</h1>
<table class="elections_table">
	<thead>
		<tr>
			<td>Amount</td>
			<td>Candidate</td>
			<td>Election</td>
		</tr>
	</thead>
	<tfoot></tfoot>
	<tbody>
		{% for donation in donations %}
		<tr>
			<td>${{ donation.amount }}</td>
			<td><a href="{{ donation.candidate.get_absolute_url }}">{{ donation.candidate }}</a></td>
			<td><a href="{{ donation.candidate.race.election.get_absolute_url }}">{{ donation.candidate.race.election }}</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock content %}