{% extends "base.html" %}

{% block title %}{{ block.super }} &ndash; Elections &ndash; Faculty and staff donations{% endblock title %}

{% block headextras %}
<script type="text/javascript">
$(function() {
    $('#donors .donations').hide();
    $('#donors h3').click(function() {
        $(this).next().toggle();
    });
});
</script>
{% endblock headextras %}

{% block content %}
<h1>Faculty and staff donations</h1>
<div class="object_list" id="donors">
	{% for category in categories %}
	{% ifnotequal category.name "Exemption" %}
		<h2>{{ category }}</h2>
		<ul>
			{% for donor in category.donor_set.all %}
				<li class="donor">
					<h3><a href="javascript:void(0)">{{ donor }}</a></h3>
					<ul class="donations">
						{% for donation in donor.donation_set.all %}
							<li>${{ donation.amount }} to <a href="{{ donation.candidate.get_absolute_url }}">{{ donation.candidate }}</a>
						{% endfor %}
					</ul>
				</li>
			{% endfor %}
		</ul>
	{% endifnotequal %}
	{% endfor %}
</div>
{% endblock %}