{% load markup %}{% load thumbnail %}
<div class="grid_12 fp_row">
    <h1 class="special_page_sbar">{{ front.headline|markdown }}</h1>
    
    <div id="electionfront_area_one" class="grid_5 alpha">
        {% if front.show_photos %}
        <div id="big_photo" class="grid_4 alpha">
            <h1>{{ front.top_photo.article_set.all.0.title|markdown }}</h1>
            <a href="{{ front.top_photo.get_absolute_url }}"><img id="elec_top_photo" class="photo" alt="{{ front.top_photo }}" src="{% thumbnail front.top_photo.image 288x330 %}" /></a>
            <p class="byline" id="elec_top_byline">Photo/{{ front.top_photo.byline|escape }}</p>
            <p class="cutline" id="elec_top_cutline">{{ front.top_photo.cutline|markdown }}</p>
        </div>
        <div id="photo_list" class="grid_1 omega">
            {% for photo in photos %}
            <p>
                <a href="{{ photo.get_absolute_url }}"><img class="photo" style="margin: 0;" src="{% thumbnail photo.image 58x58 crop %}" /></a>
            </p>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% comment %}
    {% if not front.show_results %}
    <div class="grid_3">
        <div id="elec_map" style="float: right;">
            {{ front.map_code|markdown }}
        </div>
        <div id="elec_text">
            {{ front.text|markdown }}
        </div>
    </div>
    {% else %}
    {% endcomment %}
    <div id="electionfront_area_two" class="grid_3">
    {% if not front.show_articles %}
        <h2 class="section">Latest blog posts</h2>
        <ul style="list-style-type: none; list-style-image: none; list-style-position: outside; margin-top: 5px; padding-left: 0pt; margin-left: 0pt;">
            {% for post in blog_entries %}
            <li>
                <h2 class="headline" style="font-size: 12px;margin: 0pt;"><a href="{{ post.get_absolute_url }}">{{ post }}</a></h2>
                {{ post.body|markdown|truncatewords_html:"10" }}
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <h2 class="section">Latest articles</h2>
        <ul style="list-style-type: none; list-style-image: none; list-style-position: outside; margin-top: 5px; padding-left: 0pt; margin-left: 0pt;">
            {% for article in articles %}
            <li>
                <h2 class="headline" style="margin: 0pt;"><a href="{{ article.get_absolute_url }}">{{ article|markdown }}</a></h2>
                <p class="excerpt">{{ article.body|markdown|truncatewords_html:"30" }}</p>
            </li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
    {% comment %}
    {% endif %}
    {% endcomment %}

    <div id="electionfront_area_three" class="grid_4 omega">
        {% comment %}
        {% if not front.show_results %}
        <div class="story" style="position: static;">
        {% if not front.show_articles %}
            <h1 class="headline">Latest blog posts</h1>
            <ul style="list-style-type: none; list-style-image: none; list-style-position: outside; margin-top: 5px; padding-left: 0pt; margin-left: 0pt;">
                {% for post in blog_entries %}
                <li>
                    <h2 class="headline" style="margin: 0pt;"><a href="{{ post.get_absolute_url }}">{{ post }}</a></h2>
                    <p class="excerpt">{{ post.body|markdown|truncatewords_html:"30" }}</p>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <h1 class="headline">Latest articles</h1>
            <ul style="list-style-type: none; list-style-image: none; list-style-position: outside; margin-top: 5px; padding-left: 0pt; margin-left: 0pt;">
                {% for article in articles %}
                <li>
                    <h2 class="headline" style="margin: 0pt;"><a href="{{ article.get_absolute_url }}">{{ article|markdown }}</a></h2>
                    <p class="excerpt">{{ article.body|markdown|truncatewords_html:"30" }}</p>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
        </div>
        {% else %}
        {% endcomment %}
        <table style="" class="results">
            <tbody>
                <tr>
                    <th class="heading" style="border: 0 none; background: none;" colspan="2">Top results{% comment %}(<a href="{{ front.races.all.0.election.get_absolute_url }}results/">See all</a>; <span class="won">highlighting</span> indicates winner or passage){% endcomment %}</th>
                </tr>
                <tr>
                    <th colspan="2" class="ballot_measures" style="padding-bottom: 5px;">Ballot propositions</th>
                </tr>
                {% for ballotissue in front.ballot_issues.all %}
                <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}{% if forloop.first %} first{% else %}{% if forloop.last %} last{% endif %}{% endif %}{% if ballotissue.passed %} won{% endif %}">
                    <td style="padding-left: 9px;"><a href="{{ ballotissue.get_absolute_url }}">{{ ballotissue }}</a> <span class="precinct_count">({{ ballotissue.precincts_reporting }}/ {{ ballotissue.total_precincts }} precincts)</span></td>
                    <td style="padding-right: 9px;">{{ ballotissue.percentage }}</td>
                </tr>
	        {% endfor %}
                {% for race in front.races.all %}
                {% ifnotequal race.priority 10 %}
                <tr>
                    <th colspan="2"><a href="{{ race.get_absolute_url }}">{{ race.position }}</a></th>
                </tr>
                <tr>
                    <th class="precinct_count" colspan="2">({{ race.precincts_reporting }} / {{ race.total_precincts }} {% if race.use_electoral_votes %}states{% else %}precincts{% endif %})</th>
                </tr>
{% comment %}
                <tr>
                    <th>Candidate (Party)</th>
                    <th>{% if race.use_electoral_votes %}Electoral votes{% endif %}{% if race.use_percentages %}Percentage{% endif %}</th>
                </tr>
                {% for candidate in race.candidate_set.all %}
                {% if candidate.party.major %}
                <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}{% if forloop.first %} first{% else %}{% if forloop.last %} last{% endif %}{% endif %}{% if candidate.won %} won{% endif %}">
                    <td style="padding-left: 9px;"><a href="{{ candidate.get_absolute_url }}">{{ candidate }}</a>{% if candidate.party %} ({{ candidate.party }}){% endif %}</td>
                    <td style="padding-right: 9px;">{% if race.use_electoral_votes %}{{ candidate.votes }}{% endif %}{% if race.use_percentages %}{{ candidate.percentage }}{% endif %}</td>
                </tr>
                {% endif %}
                {% endfor %}
                <tr>
                    <th>Candidate</th>
                    <th>{% if race.use_electoral_votes %}Electoral votes{% endif %}{% if race.use_percentages %}Percentage{% endif %}</th>
	        </tr>
{% endcomment %}
                {% for candidate in race.candidate_set.all %}
                <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}{% if forloop.first %} first{% else %}{% if forloop.last %} last{% endif %}{% endif %}{% if candidate.won %} won{% endif %}">
                    <td style="padding-left: 9px;"><a href="{{ candidate.get_absolute_url }}">{{ candidate }}</a>{% if candidate.party %} ({{ candidate.party }}){% endif %}</td>
                    <td style="padding-right: 9px;">{% if race.use_electoral_votes %}{{ candidate.votes }}{% endif %}{% if race.use_percentages %}{{ candidate.percentage }}{% endif %}</td>
                </tr>
                {% endfor %}
                {% endifnotequal %}
                {% endfor %}
                <tr style="border-bottom: 0 none;">
                    <th class="referer_link" colspan="2">
                        <a href="{{ front.races.all.0.election.get_absolute_url }}results/">See all results...</a>
                    </th>
                </tr>
            </tbody>
        </table>
        {% comment %}
        {% endif %}
        {% endcomment %}
    </div>
    
    <div class="clear"></div>
</div>
