{% load campaigns %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
    <title>{% block title %}The Maneater &mdash; Elections 2010{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="/media/style/2009-01/style/960/reset.css" />
    <link rel="stylesheet" type="text/css" href="/media/style/2009-01/style/960/960.css" />
    <link rel="stylesheet" type="text/css" href="/media/style/2009-09/style/maneater.css" />
    <link rel="stylesheet" type="text/css" href="/media/style/2010-10/style/elections.css" />
</head>
<body>
	<div class="container_12">
	    <div id="header" class="grid_12">
	        <div id="logo" class="grid_3 alpha">
	            <img src="/media/style/2010-10/images/elections_logo.png" alt="Elections 2010" />
	        </div>
	    </div>
	    <div id="nav" class="grid_12">
	        <ul>
	            <li><a href="/elections/">Home</a></li>
	            <li><a href="/elections/candidates/">Candidates</a></li>
	            <li><a href="/elections/webcast/">Election Night</a></li>
	            <li><a href="/">The Maneater</a></li>
	        </ul>
	    </div>
	    <div id="content" class="grid_12">
	        <div id="main" class="grid_8 alpha">
	            {% block content %}
	            <div class="rotation">
	                <div id="rotation_featured" class="grid_5 alpha">
		                <img src="/media/style/2010-10/images/forum012.jpg" class="photo left">
                        <h1><a href="">House candidates field questions on disability issues</a></h1>
                    </div>
                    <div id="rotation_list" class="grid_3 omega">
                        <div class="item">
	                        <img src="/media/2010/1015/photos/debatet100.jpg" class="photo left" />
	                        <p>Blunt, Carnanhan clash in Lake Ozark</p>
                        </div>
                        <div class="item selected">
	                        <img src="/media/2010/1014/photos/forum012t100.jpg" class="photo left" />
	                        <p>House candidates field questions on disability issues</p>
                        </div>
                        <div class="item">
	                        <img src="/media/2010/1014/photos/alpha015t100.jpg" class="photo left" />
	                        <p>Fraternity works to inform citizens, empower vote</p>
                        </div>
                    </div>	            
	            </div>
	            <div class="location_search_bar">
	                <form id="location_search" method="get" action="/elections/maps/my-districts/">
	                    <input id="location_search_box" type="text" name="address" value="Enter your adddress here to see what officials represent you.">
	                    <input id="location_search_submit" type="submit" value="Find my districts">
	                </form>
	            </div>
		        <div class="map_list grid_8 nolines">
		            <div class="grid_4 alpha">
		                <h3 class="district_label">U.S. House of Representatives</h3>		            
		                <img src="/media/style/2010-10/images/mo_map.png">
		            </div>
		            <div class="grid_4 omega">
		                <h3 class="district_label">Counties</h3>
		                <img src="/media/style/2010-10/images/mo_map.png">
		            </div>
		        </div>
	            <div class="map_list grid_8">
		            <div class="grid_4 alpha">
		                <h3 class="district_label">Missouri Senate</h3>
		                <img src="/media/style/2010-10/images/mo_map.png" style="padding: 10px;">
		            </div>
		            <div class="grid_4 omega">
		                <h3 class="district_label">Missouri House of Representatives</h3>
		                <img src="/media/style/2010-10/images/mo_map.png">
		            </div>
		        </div>
		        {% endblock content %}
	        </div>
	        <div id="sidebar" class="grid_4 omega">
	            <div class="sidebar_item">
	                <h2>Latest multimedia</h2>
	                <h3>Campus Political Climate 2010</h3>
	                <img src="/media/2010/1015/videos/screen-capture-3_png_200x350_q85.jpg" />
	                <p>Heading into the 2010 midterm elections, students, professors and political...</p>
	                <p>(<a href="/videos/2010/10/15/55/">View video</a>)</p>
	            </div>
	            <div class="sidebar_item">
	                {% if webcast_has_begun %}
	                {% else %}
	                <h2>Election night webcast</h2>
	                <p>The Maneater will be streaming live election night coverage beginning at 7 p.m. tonight. Be sure to tune in.</p>
	                {% endif %}
	                {% render_tracker %}
	            </div>
                {% comment %}
	            <div class="sidebar_item">
	                <h2>Campaign finance</h2>
	                <h3 class="office_label">U.S. Senate</h3>
	                <table>
	                    <thead>
	                        <td class="name">Candidate</td>
	                        <td class="total">Vote percentage</td>
	                    </thead>
	                    <tr>
	                        <td class="name">Roy Blunt</td>
	                        <td class="total">(figure pending)</td>
	                    </tr>
	                    <tr>
	                        <td class="name">Robin Carnahan</td>
	                        <td class="total">(figure pending)</td>
	                    </tr>
	                </table>
	            </div>
	            {% endcomment %}
	        </div>
	    </div>
	    <div id="footer" class="grid_12">
            <ul>
                <li class="first">Copyright &copy; 2010 The Maneater Student Newspaper</li>
                <li><a href="/about/">About</a></li>
                <li><a href="/staff/editors/">Staff</a></li>
            </ul>
	    </div>
	</div>
</body>
</html>