{% extends "base.html" %}
{% load markup %}

{% block title %}{{ block.super }} &ndash; Elections &ndash; Races for {{ election_date|date:"N j, Y" }}{% endblock title %}

{% block content %}
<h1>Races for {{ election_date|date:"N j, Y" }}</h1>
<div class="object_list">
    <h2>All races</h2>
    {% if races %}
    <div class="item">
        {% for race in races %}
        <h3 class="headline"><a href="{{ race.get_absolute_url }}">{{ race }}</a></h3>
        <p class="excerpt">
        {% for candidate in race.candidate_set.all %}
        {% if not forloop.first %}vs. {% endif %}<a href="{{ candidate.get_absolute_url }}">{{ candidate }}</a>
        {% endfor %}
        </p>
        {% endfor %}
    </div>
    {% else %}
    <p>No races have been defined for this election.</p>
    {% endif %}
</div>
{% endblock content %}