{% extends "base.html" %}
{% load mapping %}{% load markup %}

{% block title %}{{ block.super }} &ndash; Campus Guide &ndash; Maps &ndash; {{ map }} {% endblock title %}

{% block head_extras %}
{% add_gmap_api %}
<script type="text/javascript" src="/media/style/2009-01/js/mapstraction.js"></script>
<script type="text/javascript">
$(function() {
    // First create a div to host the map
    var themap = $('<div id="map_box"></div>').css({
        'width': '600px',
        'height': '400px',
        'border': '1px solid #000'
    }).insertBefore('div#lists_wrapper');
    
    // Now initialize the map
    var mapstraction = new Mapstraction('map_box', 'google');
    mapstraction.addControls({
        zoom: 'large',
        map_type: true
    });
    
    bounds = new BoundingBox({{ extents.min_lat }}, {{ extents.min_lng }}, {{ extents.max_lat }}, {{ extents.max_lng }});
    
    // Set center and zoom
    mapstraction.setBounds(bounds);
    
    // Extract the coordinates and add a marker
    $('.vcard').each(function() {
        var hcard = $(this);
        var latitude = hcard.find('.geo .latitude').text();
        var longitude = hcard.find('.geo .longitude').text();
        var marker = new Marker(new LatLonPoint(latitude, longitude));
        marker.setInfoBubble(
            '<div class="bubble">' + hcard.html() + '</div>'
        );
        // marker.setIcon('url');
        mapstraction.addMarker(marker);
    });
});
</script>
<script type="text/javascript">
$(function() {
    $('#place_list .details').hide();
    $('#place_list h3').click(function() {
        $(this).next().toggle();
    });
});
</script>
<style>
#lists_wrapper .object_list {
    clear: none;
}
.vcard h3 {
    display: inline;
}
</style>
{% endblock head_extras %}

{% block content %}
<h1>{{ map }}</h1>
<p id="description">{{ map.description }}</p>
<div id="lists_wrapper">
    <div class="object_list grid_4 alpha">
        <h2 class="header">List of locations</h2>
        <ul id="place_list">
            {% for place in places %}
            <li class="vcard">
                <h3 class="fn org"><a href="javascript:void(0);">{{ place.name }}</a></h3>
                <div class="details">
                    {% if place.web_site %}<a href="{{ place.web_site }}">{{ place.web_site }}</a>{% endif %}
                    {% if place.address %}<p class="adr post-office-box">{{ place.address }}</p>{% endif %}
                    {% if place.additional_info %}<div class="note">{{ place.additional_info|markdown }}</div>{% endif %}
                    <p class="geo">Coordinates: <span class="latitude">{{ place.point.get_y }}</span>, <span class="longitude">{{ place.point.get_x }}</span></p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="object_list grid_4 omega">
        <h2 class="header">Filters</h2>
        <form method="POST" action="">
            <ul>
                {% for type in offeringtypes %}
                <li>
                    <h3>{{ type.name }}</h3>
                    {{ type.form.as_ul }}
                </li>
                {% endfor %}
            </ul>
            <input type="Submit" value="Search" />
        </form>
    </div>
</div>
{% endblock content %}