{% extends 'base.html' %}

{% load comparison %}

{% block head_extras %}
<script type="text/javascript">
$(document).ready(function()
{
  $("div#expand_link").hide();
  $("h2.header").click(function()
  {
    $(this).children("#collapse_link").slideToggle(0);
    $(this).next("ul").slideToggle(600);
    $(this).children("#expand_link").slideToggle(0);
  });
});
</script>
<style>
h3.selected a {
    color: #333333;
}
h3.selected a:hover {
    color: #999999;
}
</style>
{% endblock head_extras %}

{% block content %}
    <form method="get" action=".">
{{ form.q }}
<input type="submit" value="Search">
{{ form.models }}

        {% if spelling_suggestion %}<h3>Did you mean <a href="?q={{ literal_spelling_suggestion }}">{{ spelling_suggestion|capfirst }}</a>?</h3>{% endif %}
        {% if query %}
            <h2>Results</h2>
            <div class="object_list">
            {% for model, result_list in results %}
                <h2 id="{{ model.verbose_name }}-results" class="header">{{ model.verbose_plural|capfirst }}<div id="collapse_link" class="calendar_link">{% ifnotequal model.count 0 %}Showing 1 &ndash; {% endifnotequal %}{% if_less model.count model.limit %}{{ model.count }}{% else %}{{ model.limit }}{% endif_less %} of {{ model.count }}<img src="http://www.themaneater.com/media/style/2009-07/images/maneater/expandcollapseinverted.png" style="float:right;margin-left:10px;" /></div><div id="expand_link" class="calendar_link">{{ model.count }} Result{{ model.count|pluralize }}<img src="http://www.themaneater.com/media/style/2009-07/images/maneater/expandcollapse.png" style="float:right;margin-left:10px;" /></div></h2>
                {% if result_list %}
                <ul id="{{ model.verbose_plural }}">
                {% for result in result_list %}
                    {% if_less_or_equal model.count model.limit %}
                    <li class="{% if not forloop.first %}search_result {% endif %}item">
                        {{ result.rendered|safe }}
                    </li>
                    {% else %}
                        {% if_less_or_equal forloop.counter model.limit %}
                            <li class="{% if not forloop.first %}search_result {% endif %}item">
                                {{ result.rendered|safe }}
                            </li>
                        {% endif_less_or_equal %}
                    {% endif_less_or_equal %}
                {% endfor %}
                </ul>
                <div style="clear:both;"></div>
                <p class="fp_section_refer"><a href="/newsearch/{{ model.model_name }}/?q={{ literal_query }}">See more {{ model.verbose_plural }} &raquo;</a></p>
                {% else %}
                <ul>
                    <div class="object_list">
                       <div class="null_search_result item"><h2>No {{ model.verbose_plural }} matched your search.</h2></div>
                    </div>
                </ul>
                <br />
                {% endif %}
            {% empty %}
                <p>No results found.</p>
            {% endfor %}
            </div>
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
        
    </form>
{% endblock content %}

{% block sidebar %}
    <h2 class="sectiongrey">Sort results</h2>
    <h3{% ifequal order_by 'date' %} class="selected"{% endifequal %}><a href="?q={{ literal_query }}{% for model in model_list %}&models={{ model }}{% endfor %}&order=date">Date</a></h3>
    <h3{% ifnotequal order_by 'date' %} class="selected"{% endifnotequal %}><a href="?q={{ literal_query }}{% for model in model_list %}&models={{ model }}{% endfor %}&order=relevance">Relevance</a></h3>
{% endblock sidebar %}
