{% extends 'base.html' %}

{% load advertising %}

{% block title %}{{ block.super }} &mdash; Search {% if query %}for "{{ query }}" in {% endif %}maps{% endblock %}

{% block head_extras %}
<style>
h3.selected a {
    color: #333333;
}
h3.selected a:hover {
    color: #999999;
}
</style>
{% endblock head_extras %}

{% block content_wide %}
    <form method="get" action=".">
    <div id="content" class="grid_9 alpha">
        <table>
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Search">
                </td>
            </tr>
        </table>
        {% if spelling_suggestion %}<h3>Did you mean <a href="?q={{ literal_spelling_suggestion }}">{{ spelling_suggestion|capfirst }}</a>?</h3>{% endif %}
        {% if query %}
       	    <div class="object_list">
                <h2 class="header">Results<span class="calendar_link">{% if page.has_previous %}<a href="?q={{ literal_query }}{% if current_facet.0 %}&refine={{ current_facet.0 }}:{{ current_facet.1 }}{% endif %}&page={{ page.previous_page_number }}">&laquo; Previous</a> &bull; {% endif %}{{ page.start_index }} &ndash; {{ page.end_index }} of {{ paginator.count }}{% if page.has_next %} &bull; <a href="?q={{ literal_query }}{% if current_facet.0 %}&refine={{ current_facet.0 }}:{{ current_facet.1 }}{% endif %}&page={{ page.next_page_number }}">Next &raquo;</a>{% endif %}</span></h2>
                {% for result in page.object_list %}
                    <div class="{% if not forloop.first %}search_result {% endif %}item">
                        {{ result.rendered|safe }}
                    </div>
                {% empty %}
                    <p>No results found.</p>
                {% endfor %}
       	    </div>
            <div class="page_navigation">
                {% if page.has_previous %}<a href="?q={{ literal_query }}{% if current_facet.0 %}&refine={{ current_facet.0 }}:{{ current_facet.1 }}{% endif %}&page={{ page.previous_page_number }}">&laquo; Previous</a> |{% endif %} Page {{ page.number }} of {{ page.paginator.num_pages }} {% if page.has_next %}| <a href="?q={{ literal_query }}{% if current_facet.0 %}&refine={{ current_facet.0 }}:{{ current_facet.1 }}{% endif %}&page={{ page.next_page_number }}">Next &raquo;</a>{% endif %}
            </div>
        {% else %}   
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
        <div id="ad" class="grid_9">
            {% render_banner_ad 'banner' %}
        </div>
    </div>
    <div id="sidebar" class="grid_3 omega">
        {% if query %}
            <h2 class="sectiongrey">Narrow your results</h2>
            <div>
                <dl>
                    {% if facets.fields.section_exact %}
                        <h2>Section</h2>
                            <h3{% ifnotequal current_facet.0 'section' %} class="selected"{% endifnotequal %}><a href="?q={{ literal_query }}">All sections</a></h3>
                        {% for section in facets.fields.section_exact %}
                            <h3{% ifequal current_facet.0 'section' %}{% ifequal current_facet.1 section.0|slugify %} class="selected"{% endifequal %}{% endifequal %}><a href="?q={{ literal_query }}&amp;refine=section:{{ section.0|slugify }}">{{ section.0 }}</a> ({{ section.1 }})</h3>
                        {% endfor %}
                    {% endif %}
                </dl>
            </div>
        {% endif %}
        {% comment %}{% render_banner_ad 'vertical' %}{% endcomment %}
    </div>
    </form>
{% endblock content_wide %}
