{% extends "base.html" %}

{% block title %}{{ block.super }} &ndash; Sections{% endblock title %}

{% block content %}
<h1>Sections</h1>
{% if object_list %}
    <div class="object_list">
        {% for object in object_list %}
        <div class="item">
            <h3 class="headline"><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></h3>
        </div>
        {% endfor %}
    </div>
{% else %}
    <p>For some reason, there aren't any sections to show here.</p>
{% endif %}
{% endblock content %}