{% extends "base.html" %}

{% block title %}{{ block.super }} &ndash; In Print &ndash; Game answers{% endblock title %}

{% block content %}
<h1>Game answers</h1>
{% if object_list %}
    {% for answer in object_list %}
    <div class="object_list">
        <h2 class="header">{{ answer.type }}</h2>
        <div class="item">
            <img class="photo" src="{{ answer.get_thumbnail_url }}" alt="{{ answer.type }}" />
        </div>
    </div>
    {% endfor %}
{% else %}
    <p>For some reason, there aren't any answers to display here.</p>
{% endif %}
{% endblock content %}