<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>Columbia Prowl &mdash; {{ apartment.name }} </title>
        <link rel="stylesheet" type="text/css" href="http://www.columbiaprowl.com/media/style/2009-01/style/960/reset.css" />
        <link rel="stylesheet" type="text/css" href="http://www.columbiaprowl.com/media/style/2009-01/style/960/960.css" />
        <link rel="stylesheet" type="text/css" href="http://www.columbiaprowl.com/media/style/2009-12/style/housing-guide-base.css" />
        <link rel="shortcut icon" href="/media/favicon-prowl.png" type="image/png" />
        <link rel="apple-touch-icon-precomposed" href="/media/apple-touch-icon-prowl.png" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
        <script type="text/javascript" src="/media/style/2009-01/js/jquery.innerfade.js"></script>
        <link rel="alternate" type="application/rss+xml" title="Latest Articles RSS Feed" href="/feeds/latest/" />
        
<meta name="robots" content="noindex, nofollow" />

<script type="text/javascript" src="http://www.columbiaprowl.com/media/style/2009-07/js/jquery.easing.js"></script>
<script type="text/javascript" src="http://www.columbiaprowl.com/media/style/2009-07/js/jquery.fancybox.js"></script>
<link rel="stylesheet" type="text/css" href="http://www.columbiaprowl.com/media/style/2009-07/js/fancybox.css" />
<link rel="stylesheet" type="text/css" href="http://www.columbiaprowl.com/media/style/2009-12/style/housing-guide.css" />

<script type="text/javascript">
$(document).ready(function() { /* This is basic - uses default settings */ $("a#single_image").fancybox(); /* Using custom settings */ $("a#inline").fancybox({ 'hideOnContentClick': true }); $("a.group").fancybox({ 'zoomSpeedIn': 300, 'zoomSpeedOut': 300, 'overlayShow': false }); }); 
</script>
<style type="text/css">

.rating {display: block; width: 16px; height: 16px; background-image: url('http://www.emmafrostfiles.com/blank.png'); }

.stars { height: 16px; background-image: url('http://www.emmafrostfiles.com/star.png'); }

</style>
    </head>
    <body>
        <div id="bar-gutter">
            <div class="inner container_12">
            </div>
        </div>
       	<div id="bar-logo">
       	    <div class="inner container_12">
                <a href="/">
                <div id="logo_image" class="grid_5 alpha">
       	       	</div>
                </a>
       	       	<div id="tagline" class="grid_4">
       	       	</div> 
       	       	<a href="http://www.themaneater.com/">
                <div id="search" class="grid_3">
                    
                </div> 
                </a>
       	    </div>
       	</div>
       	<div id="bar-nav">
       	    <div class="inner container_12">
       	       	<div id="nav" class="grid_8 alpha">
       	       	    <ul>
                        <li><a href="http://www.columbiaprowl.com/">Home</a></li>
                        <li><a href="http://www.columbiaprowl.com/properties/">Properties</a></li>
                        <li><a href="http://www.columbiaprowl.com/listings/">Available Places</a></li>
                        <li><a href="http://www.columbiaprowl.com/renters-guide/">Renter's Guide</a></li>
                        <li><a href="http://www.columbiaprowl.com/advertise/">Advertise</a></li>
                        <li><a href="http://www.columbiaprowl.com/about/">About</a></li>
                    </ul>
       	       	</div>
       	       	<div id="nav_extra" class="grid_4">
       	       	</div>
       	    </div>
       	</div>
        <div id="wrapper">
            <div class="inner container_12">
                
<div id="apt-info" class="grid_9 alpha">
<div id="infocontainer">
<div id="apt-title" class="grid-12">
<h1 class="apt-name">{{ apartment.name }}</h1>
</div>
<h2 class="listingtype premium">Our Review</h2>

<p class="address"><em>{{ apartment.contact_info }}</em></p>

<div class="photo_holder" style="text-align:center;">
<img src="http://aimeelaplant.com/072108_dorm1_t_w600_h1200.jpg" style="border:1px solid #223440;"/><br/>
<small style="font-size:10px;">{{ photo.title }}</small>
</div>

<p>{{ apartment.review }}</p>


</div>
</div>
<div id="CMS-sidebar" class="grid_3 omega" style="float: left; margin-right: 0px;">
<div class="landlord">
<p><span class="ctltitle">An Overview</span></p>
<p><span class="llname">Price</span></p>
<p>{{ apartment.max_price }} - {{ apartment.min_price }}</p>
<p><span class="llname">Distance</span><br/><small>(from Jesse Hall)</small></p>
<p>{{ apartment.distance }}</p>
<p><span class="llname">Shuttle</span><br/></p>
<p>{{ apartment.shuttle }}</p>
<p><span class="llname">Our Rating</span></p>
       {% if avg_rating %}
<p><div class="rating"><div class="stars" style="width: 16px">{{ apartment.self.avg_rating }}</div></div></p>
                   {% endif %}
</div>
<div id="photoscontainer">
    <p>
	    
  <span class="ctltitle">Photos</span>
		    
                
	    
    </p>
</div>


            <div id="imagecontainer">
                
            </div>
        
        
        
            <div id="imagecontainer">
                <a class="group" title="University Place (2BR, 1BA)" rel="group" href="http://www.columbiaprowl.com/media/2010/0308/housing-guide/photos/pic2uplacecolmbiprowl1087.jpg"><img src="http://www.columbiaprowl.com/media/2010/0308/housing-guide/photos/pic2uplacecolmbiprowl1087_jpg_90x70_crop_q85.jpg" alt="" /></a>
            </div>
        
        
    





</div>

                <div id="clear" style="clear:both;"></div>
            </div>
        </div>
        <div id="bar-prowlfooter">
            <div class="inner container_12">
                <a href="/"><div id="prowllogo" class="grid_5"></div></a>
                <div id="prowlfooter" class="grid_7">
                    <ul>
                        <li class="first">&copy;2011 The Maneater Student Newspaper</li>
                        <li><a href="/advertise/">Advertising Information</a></li>
                        <li><a href="/about/">About</a></li>
                        <li><a href="http://www.themaneater.com/staff/editors/">Staff</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>

