{% load core %}{% load advertising %}{% load markup %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>{% block title %}columbia prowl{% endblock title %}</title>
        <link rel="stylesheet" type="text/css" href="/media/style/2009-01/style/960/reset.css" />
        <link rel="stylesheet" type="text/css" href="/media/style/2009-01/style/960/960.css" />
        <link rel="stylesheet" type="text/css" href="/media/style/2009-12/style/housing-guide-base.css" />
        <link rel="shortcut icon" href="/media/favicon.png" type="image/png" />
        <link rel="apple-touch-icon" href="/media/apple-touch-icon.png" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
        <script type="text/javascript" src="/media/style/2009-01/js/jquery.innerfade.js"></script>
        <link rel="alternate" type="application/rss+xml" title="Latest Articles RSS Feed" href="/feeds/latest/" />
        {% block head_extras %}
        {% endblock head_extras %}
    </head>
    {% block body_tag %}<body>{% endblock body_tag %}
        <div id="bar-gutter">
            <div class="inner container_12">
            </div>
        </div>
       	<div id="bar-logo">
       	    <div class="inner container_12">
                <div id="logo_image" class="grid_4 alpha">
                    <h1><span class="logo">columbia<strong>prowl</strong></span></h1>
       	       	</div>
       	       	<div id="tagline" class="grid_5">
                    <h3>Your guide to living off campus</h3>
       	       	</div>
                <div id="search" class="grid_3">
                    <h2>Search</h2>
                </div>
       	    </div>
       	</div>
       	<div id="bar-nav">
       	    <div class="inner container_12">
       	       	<div id="nav" class="grid_8 alpha">
       	       	    <ul>
                        <li><a href="http://www.themaneater.com/housing-guide/">Home</a></li>
                        <li><a href="http://www.themaneater.com/housing-guide/search/">Search</a></li>
                        <li><a href="http://www.themaneater.com/housing-guide/renters-guide/">Renter's Guide</a></li>
                        <li><a href="http://www.themaneater.com/housing-guide/advertise/">Advertise</a></li>
                        <li><a href="http://www.themaneater.com/housing-guide/about/">About</a></li>
                    </ul>
       	       	</div>
       	       	<div id="nav_extra" class="grid_4">
       	       	</div>
       	    </div>
       	</div>
        <div id="wrapper">
            <div class="inner container_12">
                {% comment %}<div id="content_wide">{% endcomment %}
                {% block content_wide %}
                    <div id="content" class="grid_9 alpha">
                    {% block content %}
                        <h1>Placeholder</h1>
                        <p>This should be overridden by the child templates.</p>
                    {% endblock content %}
                    <div id="ad" class="grid_9">
                        {% render_banner_ad 'banner' %}
                    </div>
                    </div>
                    <div id="sidebar" class="grid_3 omega">
                    {% block sidebar %}{% endblock sidebar %}
                    {% block sidebar_ad %}
                        {% render_banner_ad 'vertical' %}
                    {% endblock sidebar_ad %}
                    </div>
                {% endblock content_wide %}
                {% comment %}</div>{% endcomment %}
                <div id="clear" style="clear:both;"></div>
            </div>
        </div>
        <div id="bar-CMSfooter">
            <div class="inner container_12">
                <div id="CMSlogo" class="grid_5">
           	    <span class="logo">CoMoSpaces</span>
       	       	</div>
                <div id="CMSfooter" class="grid_7">
                    <ul>
                        <li class="first">&copy;{% now "Y" %} The Maneater Student Newspaper</li>
                        <li><a href="/about/advertising/">Advertising Information</a></li>
                        <li><a href="/about/">About</a></li>
                        <li><a href="/staff/editors/">Staff</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% block analytics %}
        <script type="text/javascript">var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));</script><script type="text/javascript">var pageTracker = _gat._getTracker("UA-8727143-1");pageTracker._initData();pageTracker._trackPageview();</script>
        {% endblock %}
    </body>
</html>
