<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load core %}{% load weather %}{% load advertising %}{% load markup %}
<html>
<head>
        <title>{% block title %}The Purple People Eater{% endblock title %}</title>

        <link rel="stylesheet" type="text/css" href="/media/style/2009-01/style/960/reset.css" />
        <link rel="stylesheet" type="text/css" href="/media/style/2009-01/style/960/960.css" />
        <link rel="stylesheet" type="text/css" href="/media/style/2010-04/style/tppe.css" />
        <link rel="shortcut icon" href="/media/favicon.png" type="image/png" />
        <link rel="apple-touch-icon" href="/media/apple-touch-icon.png" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
        <script type="text/javascript" src="/media/style/2009-01/js/jquery.innerfade.js"></script>
        <link rel="alternate" type="application/rss+xml" title="Latest Articles RSS Feed" href="/feeds/latest/" />
{% block head_extras %}{% endblock head_extras %}
</head>
{% block body_tag %}<body>{% endblock body_tag %}

	<div class="container_12">

        	<div id="container" class="grid_12">

			<div id="ticker_and_search" class="grid_12">
				<ul id="ticker" class="grid_11 alpha" style="width: 850px;">
					<li>This isn't exactly a real ticker.</li>
					<li>If it were, we would have the top stories here.</li>
					<li>But we don't. Ha!</li>
					<li>So here are some random words instead.</li>
				</ul>
				<div id="other_media" class="grid_1 omega">
					<a class="feeds" href=""></a>
					<a class="facebook" href=""></a>
					<a class="twitter" href=""></a>
				</div>
			</div>

			<div id="flag_bar" class="grid_12">
				<div class="grid_12 alpha omega">
					<a href="/af2010/"><img id="flag" src="http://www.themaneater.com/media/style/2010-04/images/tppe.png" alt="The Maneater" /></a>
				</div>
			</div>

			<div id="nav_bar" class="grid_12">{% comment %}
				<p id="auth_links">{% if user.is_authenticated %}<a href="/accounts/logout/">Log out</a>{% else %}<a href="/accounts/login/">Log in</a>{% endif %}</p>{% endcomment %}
				<ul>
					<li><a href="/section/news/">Look Out Texas!</a></li>
					<li><a href="/section/outlook/">People Doing Stupid Shit</a></li>
					<li><a href="/section/forum/">Grinds My Gears</a></li>
					<li><a href="/section/arts/">Pretentious</a></li>
					<li><a href="/section/sports/">Tiger Droppings</a></li>
					<li><a href="/">Legit Content</a></li>
				</ul>
			</div>

			<div id="content_wide">
			{% block content_wide %}
				<div id="content" class="grid_9 alpha">
				{% block content %}
					<h1>Placeholder</h1>
					<p>This should be overridden by the child templates.</p>
				{% endblock content %}
					<div id="ad" class="grid_9">
						{% render_banner_ad 'banner' %}
					</div>
				</div>
				<div id="sidebar" class="grid_3 omega">
				{% block sidebar %}{% endblock sidebar %}
				{% block sidebar_ad %}
					{% render_banner_ad 'vertical' %}
				{% endblock sidebar_ad %}
				</div>
			{% endblock content_wide %}
			</div>

			<div id="footer" class="grid_12">
				<ul>
					<li class="first">&copy;{% now "Y" %} The Maneater Student Newspaper</li>
					<li><a href="/about/advertising/">Advertising Information</a></li>
					<li><a href="/about/">About</a></li>
					<li><a href="/staff/editors/">Staff</a></li>
				</ul>
			</div>

		</div>

	</div>

        {% block analytics %}<script type="text/javascript">var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));</script><script type="text/javascript">var pageTracker = _gat._getTracker("UA-8727143-1");pageTracker._initData();pageTracker._trackPageview();</script>{% endblock %}
</body>
</html>
